@import "vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-black;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

ul {
    list-style: none;
}

.container {
    width: 1224px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.section__padding {
    padding: 200px 0;
}

.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    font-size: 36px;
    line-height: 46px;
    padding-left: 23px;
    position: relative;

    &::before {
        content: '';
        background-color: $color-green-accent;
        display: block;
        width: 3px;
        height: 48px;
        position: absolute;
        left: 0;
        top: -1px;
    }
}

.section__desc {
    max-width: 600px;
    font-size: 18px;
    line-height: 28px;
}