.header {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 10;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
    }

    .nav__list {
        display: flex;
        @extend %ubuntu-medium;
        font-size: 15px;
        line-height: 17px;
        text-transform: uppercase;

        &-item:not(:last-child) {
            margin-right: 20px;
        }

        &-link {
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            transition: border .3s;

            &:hover {
                border-bottom: 2px solid $color-white;
            }
        }
    }

    &__cta_btn {
        font-size: 15px;
        line-height: 17px;
        padding: 7px 28px;
        margin-right: 8px;
    }

    &__cta_phone {
        @extend %ubuntu-bold;
        font-size: 16px;
        line-height: 18px;
    }
}