:root {
  --color-black: #232222;
  --color-white: #FFF;
  --color-gray: #C4C4C4;
  --color-highlight-blue: #001E64;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .3s;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}