<section class="blog">
  <div class="container__small">
    <h3 class="section__title blog__title">Блог</h3>
    <div class="blog__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="blog__item">
            <picture class="blog__item-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/blog__img-01@1x.avif 1x,
                  ../images/blog__img-01@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/blog__img-01@1x.webp 1x,
                  ../images/blog__img-01@2x.webp 2x
                "
              />
              <img
                class="blog__item-img"
                src="../images/blog__img-01@1x.jpg"
                srcset="../images/blog__img-01@2x.jpg 2x"
                alt="blog img"
              />
            </picture>
            <h5 class="blog__item-title">
              НЕЛЬСОН ПИКЕ СТАЛ ПОБЕДИТЕЛЕМ ГРАНД-ФИНАЛА В ПОРТИМАНЕ
            </h5>
            <p class="blog__item-text">
              Нельсон Пике-младший из Ansa Motorsports обеспечил возвращение
              титула Lamborghini Super Trofeo Grand Finals в Северную Америку
              впервые с 2017 года после победы и второе место в паре 50-минутных
              гонок на Autodromo Nacionale do Algarve в Портимане.Между тем,
              титул Pro-Am был подорван, поскольку Брайан Ортис и Себастьян
              Карасо из...
            </p>
            <a class="blog__item-link" href="#!">читать подробнее...</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog__item">
            <picture class="blog__item-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/blog__img-02@1x.avif 1x,
                  ../images/blog__img-02@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/blog__img-02@1x.webp 1x,
                  ../images/blog__img-02@2x.webp 2x
                "
              />
              <img
                class="blog__item-img"
                src="../images/blog__img-02@1x.jpg"
                srcset="../images/blog__img-02@2x.jpg 2x"
                alt="blog img"
              />
            </picture>
            <h5 class="blog__item-title">ГРАНД ФИНАЛ. ДЕНЬ 1</h5>
            <p class="blog__item-text">
              Утренний дождь означал, что мокрая гонка была объявлена ​​до
              старта, и перед большинством экипажей стоял выбор: использовать
              слики или мокрые шины. Большинство участников предпочли мокрую
              трассу, но поулист Спинелли начал гонку на сликах и сразу же
              поплатился за это. Huracan № 61 опустился вниз, заняв всего 28-е
              место, поскольку...
            </p>
            <a class="blog__item-link" href="#!">читать подробнее...</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog__item">
            <picture class="blog__item-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/blog__img-01@1x.avif 1x,
                  ../images/blog__img-01@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/blog__img-01@1x.webp 1x,
                  ../images/blog__img-01@2x.webp 2x
                "
              />
              <img
                class="blog__item-img"
                src="../images/blog__img-01@1x.jpg"
                srcset="../images/blog__img-01@2x.jpg 2x"
                alt="blog img"
              />
            </picture>
            <h5 class="blog__item-title">
              НЕЛЬСОН ПИКЕ СТАЛ ПОБЕДИТЕЛЕМ ГРАНД-ФИНАЛА В ПОРТИМАНЕ
            </h5>
            <p class="blog__item-text">
              Нельсон Пике-младший из Ansa Motorsports обеспечил возвращение
              титула Lamborghini Super Trofeo Grand Finals в Северную Америку
              впервые с 2017 года после победы и второе место в паре 50-минутных
              гонок на Autodromo Nacionale do Algarve в Портимане.Между тем,
              титул Pro-Am был подорван, поскольку Брайан Ортис и Себастьян
              Карасо из...
            </p>
            <a class="blog__item-link" href="#!">читать подробнее...</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog__item">
            <picture class="blog__item-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/blog__img-02@1x.avif 1x,
                  ../images/blog__img-02@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/blog__img-02@1x.webp 1x,
                  ../images/blog__img-02@2x.webp 2x
                "
              />
              <img
                class="blog__item-img"
                src="../images/blog__img-02@1x.jpg"
                srcset="../images/blog__img-02@2x.jpg 2x"
                alt="blog img"
              />
            </picture>
            <h5 class="blog__item-title">ГРАНД ФИНАЛ. ДЕНЬ 1</h5>
            <p class="blog__item-text">
              Утренний дождь означал, что мокрая гонка была объявлена ​​до
              старта, и перед большинством экипажей стоял выбор: использовать
              слики или мокрые шины. Большинство участников предпочли мокрую
              трассу, но поулист Спинелли начал гонку на сликах и сразу же
              поплатился за это. Huracan № 61 опустился вниз, заняв всего 28-е
              место, поскольку...
            </p>
            <a class="blog__item-link" href="#!">читать подробнее...</a>
          </div>
        </div>
      </div>

      <div class="swiper-button-left">
        <img
          class="blog__slider-icon blog__slider-icon--left"
          src="../images/slider-icon-arrow-left.svg"
          alt="prev"
        />
      </div>
      <div class="swiper-button-right">
        <img
          class="blog__slider-icon blog__slider-icon--right"
          src="../images/slider-icon-arrow-right.svg"
          alt="next"
        />
      </div>
    </div>

    <div class="blog__quote">
      <div class="blog__quote-content">
        <blockquote class="blog__blockquote">
          <cite class="blog__blockquote-name">
            <span>Чемпион Am</span>
            Анджей Левандовски
          </cite>
          <p class="blog__blockquote-text">
            «Я очень доволен титулом, моей второй победой в Am и четвертой в
            Super Trofeo, мне очень приятно делать это в этом году, потому что
            уровень соревнований очень высок. Должен сказать, сегодня было
            довольно легко, так как я все время контролировал ситуацию».
          </p>
        </blockquote>
        <blockquote class="blog__blockquote">
          <cite class="blog__blockquote-name">
            <span>Обладатель кубка Lamborghini</span>
            Жерар ван дер Хорст
          </cite>
          <p class="blog__blockquote-text">
            «Я очень доволен титулом, моей второй победой в Am и четвертой в
            Super Trofeo, мне очень приятно делать это в этом году, потому что
            уровень соревнований очень высок. Должен Обладатель кубка
            Lamborghini добавил: «Здорово выиграть титул, спустя четыре года
            после последнего,
          </p>
        </blockquote>
      </div>

      <div class="blog__quote-picture"></div>
    </div>
  </div>
</section>
