<section class="evo">
  <div class="evo__black">
    <div class="container__small">
      <div class="evo__black-inner">
        <div class="evo__black-top">
          <h3 class="section__title evo__black-title">СУПЕР ТРОФЕО ЭВО</h3>

          <div class="evo__black-desc">
            <p class="evo__black-text">
              Новый Huracán Super Trofeo EVO достигает еще больших высот, чем
              его прославленный предшественник, благодаря полностью
              переработанной аэродинамике. Huracán Super Trofeo EVO является
              идеальной стартовой площадкой для всех водителей, которые хотят
              начать карьеру в гонках класса GT.
            </p>
            <p class="evo__black-text">
              Huracán EVO — это эволюция самого успешного Lamborghini с
              двигателем V10. В результате тонкой настройки и усовершенствования
              существующих функций в сочетании с новыми конструктивными
              решениями, повышающими производительность, автомобиль выделяется
              своей способностью предугадывать и удовлетворять поведение,
              ожидания и желания водителя.
            </p>
          </div>
        </div>

        <picture class="evo__black-picture">
          <source
            type="image/avif"
            srcset="
              ../images/evo__img@1x.avif 1x,
              ../images/evo__img@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/evo__img@1x.webp 1x,
              ../images/evo__img@2x.webp 2x
            "
          />
          <img
            class="evo__black-img"
            src="../images/evo__img@1x.png"
            srcset="../images/evo__img@2x.png 2x"
            alt="evo img"
          />
        </picture>

        <ul class="evo__black-list">
          <li class="evo__black-list-item">
            <div class="evo__black-list__text">
              ПЕРЕМЕЩЕНИЕ
              <span>5204 см³</span>
            </div>
          </li>
          <li class="evo__black-list-item">
            <div class="evo__black-list__text">
              КРУТЯЩИЙ МОМЕНТ
              <span>570 Нм при 6500 об/мин</span>
            </div>
          </li>
          <li class="evo__black-list-item">
            <div class="evo__black-list__text">
              МОЩНОСТЬ (л.с.) / МОЩНОСТЬ (КВТ)
              <span>620 л.с. при 8250 об/мин</span>
            </div>
          </li>
          <li class="evo__black-list-item">
            <div class="evo__black-list__text">
              МАКС. СКОРОСТЬ
              <span>325 км /ч</span>
            </div>
          </li>
          <li class="evo__black-list-item">
            <div class="evo__black-list__text">
              0-100 КМ/Ч
              <span>2,9 с</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="evo__white">
    <div class="container__small">
      <div class="evo__white-inner">
        <p class="evo__white-text evo__white-text--first">
          Его неповторимый дизайн — это естественная эволюция культовых линий
          Huracán, включающая новые сложные решения, поднимающие
          производительность и вызывающие эмоции на невиданный ранее уровень.
        </p>
        <p class="evo__white-text evo__white-text--second">
          Беспрецедентный обвес был разработан инженерами отдела автоспорта
          Automobili Lamborghini в сотрудничестве с Dallara Engineering и
          Lamborghini Centro Stile. Последний также разработал стартовую ливрею
          для автомобиля в честь партнерства между Lamborghini Squadra Corse и
          Roger Dubuis, которое началось в 2018 году.
        </p>
        <p class="evo__white-text evo__white-text--third">
          Среди наиболее очевидных изменений в обвесе Lamborghini Huracan Super
          Trofeo EVO — задний спойлер на заднем капоте и верхний
          воздухозаборник, которые делают его мгновенно узнаваемым для зрителей.
        </p>

        <div class="evo__white-video">
          <a href="#!" class="evo__white-video__link">
            <svg
              width="50"
              height="50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M43.453 35.642L24.98 46.308 6.507 35.642v-21.33L24.98 3.645 43.453 14.31v21.331z"
                fill="#fff"
                stroke="#9F6B08"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M36.727 31.771L25 38.541l-11.727-6.77V18.229L25 11.46l11.727 6.77v13.542z"
                fill="#fff"
                stroke="#9F6B08"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M21.629 30.24l8.842-5.223-8.859-5.257.017 10.48z"
                fill="#9F6B08"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span>смотреть онлайн</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
