<footer class="footer">
  <div class="container__small">
    <h3 class="section__title footer__title">Контакты</h3>

    <div class="footer__content">
      <div class="footer__info">
        <ul class="footer__info-list">
          <li class="footer__info-title">ОБЩИЕ</li>
          <li class="footer__info-item">
            <a class="footer__info-link" href="tel:+(351)282405600"
              >+(351) 282 405 600</a
            >
          </li>
          <li class="footer__info-item">
            <a class="footer__info-link" href="tel:+(351)282405697"
              >+(351) 282 405 697</a
            >
          </li>
          <li class="footer__info-item">
            <a
              class="footer__info-link"
              href="mailto:info@autodromodoalgarve.com"
              >info@autodromodoalgarve.com</a
            >
          </li>
        </ul>

        <ul class="footer__info-list">
          <li class="footer__info-title">БИЛЕТЫ</li>
          <li class="footer__info-item">
            <a class="footer__info-link" href="tel:+(351)282405697"
              >+(351) 282 405 697</a
            >
          </li>
          <li class="footer__info-item">
            <a
              class="footer__info-link"
              href="mailto:tickets@autodromodoalgarve.com"
              >tickets@autodromodoalgarve.com</a
            >
          </li>
        </ul>

        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#!">
              <svg
                width="45"
                height="32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M43.045 5.691A5.37 5.37 0 0039.248 1.9C36.76.94 12.66.47 5.669 1.927a5.384 5.384 0 00-3.798 3.792C.748 10.637.663 21.27 1.899 26.3a5.37 5.37 0 003.798 3.791c4.927 1.133 28.349 1.291 33.578 0a5.384 5.384 0 003.798-3.791c1.198-5.358 1.283-15.332-.028-20.608v0z"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M29.56 15.995l-11.23-6.43v12.859l11.23-6.43z"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#!">
              <svg
                width="32"
                height="32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22.918 1H9.082A8.082 8.082 0 001 9.082v13.836A8.082 8.082 0 009.083 31h13.834A8.083 8.083 0 0031 22.917V9.082A8.082 8.082 0 0022.917 1h0z"
                  stroke="#fff"
                  stroke-miterlimit="10"
                />
                <path
                  d="M16 23.242a7.241 7.241 0 100-14.483 7.241 7.241 0 000 14.483z"
                  stroke="#fff"
                  stroke-miterlimit="10"
                />
                <path
                  d="M24.524 8.221a1.283 1.283 0 100-2.565 1.283 1.283 0 000 2.565z"
                  fill="#fff"
                />
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#!">
              <svg
                width="30"
                height="30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 .001C6.73.001 0 6.729 0 15s6.73 15 15 15 15-6.729 15-15S23.27.001 15 .001zM15 29C7.28 29 1 22.72 1 15S7.28 1 15 1s14 6.28 14 14-6.28 14-14 14z"
                  fill="#fff"
                />
                <path
                  d="M18.274 6.58h-2.496c-3.179-.031-3.585 1.936-3.585 4.065v1.549H10.79a.416.416 0 00-.467.467v2.807a.416.416 0 00.467.467h1.403v7.016a.42.42 0 00.471.468h2.858c.276.032.5-.192.411-.468l.002-7.016h2.339a.417.417 0 00.468-.467V12.66a.416.416 0 00-.468-.467h-2.342l.003-1.404c.091-.597.091-.5.646-.467h1.673c.13-.03.269-.013.366-.108a.376.376 0 00.12-.36V7.049a.416.416 0 00-.466-.468zm-.5 2.755L16.6 9.29c-1.452 0-1.574.789-1.574 1.596l-.004 1.773a.5.5 0 00.5.5h2.284v1.808h-2.282a.5.5 0 00-.5.5l-.002 7.017H13.13v-7.016c0-.276-.188-.5-.465-.5h-1.406v-1.807h1.406a.499.499 0 00.354-.146c.093-.095.11-.222.11-.355v-2.015c0-2.098.424-3.097 2.65-3.097h1.995v1.787z"
                  fill="#fff"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__address">
        <h5 class="footer__address-title">Адрес</h5>
        <address class="footer__address-text">
          Sitio do Escampadinho, Mexilhoeira Grande, 8500-148 Portimao, Portugal
        </address>
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12706.760050746392!2d-8.6283276!3d37.2313331!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b249a14a3de87%3A0x5eb2446732b74a50!2sAut%C3%B3dromo%20Internacional%20do%20Algarve!5e0!3m2!1sen!2s!4v1690592369871!5m2!1sen!2s"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__ui-author">Design by Varvara Prokopchuk</div>

      <a href="#" class="logo footer__logo">
        <img
          class="foooter__logo-img"
          src="../images/logo__footer.svg"
          alt="logo"
        />
      </a>

      <a class="footer__privacy-policy" href="#!">
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>
