<header class="header">
  <div class="container__big">
    <nav class="nav header__nav">
      <ul class="menu__list menu__list-left">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">О гонке</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Трек</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Lamborghini Super trofeo</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Новости</a>
        </li>
      </ul>

      <a href="#" class="logo header__logo">
        <img class="logo__img" src="../images/logo.svg" alt="logo" />
      </a>

      <ul class="menu__list menu__list-right">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Купить билеты</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Смотреть онлайн</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
