@media (max-height: 768px) {
    .btn {
        font-size: 16px;
        line-height: 16px;
        padding-top: 14px;
        padding-bottom: 14px;

        &-transparent {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

@media (max-width: 480px) {

    .btn {
        font-size: 12px;
        line-height: 12px;
        padding-top: 14px;
        padding-bottom: 14px;

        &-transparent {
            background-color: transparent;
            color: $color-red;
            border: 2px solid $color-red;
            padding-left: 18px;
            padding-right: 18px;

            &:hover {
                background-color: $color-red;
                color: $color-white;
            }
        }

        &-white {
            background-color: $color-white;
            color: $color-red;
            border: 2px solid $color-white;

            &:hover {
                background-color: $color-red;
                color: $color-white;
            }
        }
    }
    
}
