@media (max-height: 768px) {
    .section__title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (max-width: 880px) {
    .section__title {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        
        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 768px) {
    .section__margins {
        margin: 60px 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 34px;
        height: 34px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 34px;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
    }
}