html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/*

    font-family: 'Open Sans',
    sans-serif;
    font-family: 'Roboto',
    sans-serif;

*/

body {
    color: #4a6385;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-top: 1px solid #3983e5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
}

.header__menu-list {
    display: flex;
}

.header__menu-list--item {
    color: #2f3f54;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.header__menu-list--item:not(:last-child) {
    margin-right: 40px;
}

.header__menu-list--link {
    border-bottom: 2px solid transparent;
    padding: 3px 0;
}

.header__menu-list--link:hover {
    border-bottom: 2px solid #2f3f54;
}


.hero {
    background-image: url(../images/hero__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding: 160px 0 180px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__features {
    margin-bottom: 5px;
}

.hero__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 3px;
}

.hero__desc {
    margin-bottom: 34px;
}

.hero__list {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}

.hero__list-item {
    margin-bottom: 3px;
    padding-left: 24px;
    position: relative;
}

.hero__list-item::before {
    content: '';
    background-image: url(../images/hero__list-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hero__btn {
    background-color: #267ae9;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    padding: 18px 48px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-bottom: 16px;
}

.hero__btn:hover {
    background-color: #1c6cd4;
}


.hero__right {
    position: relative;
    padding-top: 28px;
    padding-right: 165px;
}

.hero__price {
    background-color: #fff;
    color: #212121;
    position: absolute;
    top: -10px;
    right: 60px;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 50px;
}

.hero__price-main {
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
}

.hero__price-subtext:first-child {
    align-self: flex-start;
}

.hero__price-subtext:last-child {
    align-self: flex-end;
}


.pricing {
    padding: 155px 0 180px;
}

.pricing__desc {
    max-width: 945px;
    margin: 0 auto;
    text-align: center;
}

.section__title {
    color: #2f3f54;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.section__title-highlight {
    color: #2575e7;
}

.pricing__title {
    margin-bottom: 50px;
}

.pricing__desc-text {
    max-width: 585px;
    margin: 0 auto 125px;
}

.pricing__desc--link {
    color: #e74c3c;
}

.pricing__desc--link:hover {
    color: #991406;
}

.pricing__desc-highlight {
    color: #42d6c1;
}


.pricing__cards {
    display: flex;
    justify-content: space-between;
}

.pricing__cards-item {
    font-family: 'Roboto', sans-serif;
    width: 360px;
    padding: 130px 42px 135px 48px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    position: relative;
    overflow: hidden;
    letter-spacing: .5px;
}

.pricing__cards-rate {
    background-color: #267ae9;
    color: #fff;
    font-weight: 700;
    font-size: 33px;
    line-height: 33px;
    width: 270px;
    height: 330px;
    padding-bottom: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: -235px;
    left: 48px;
    border-radius: 50%;
}

.pricing__cards-rate span {
    font-size: 16px;
    line-height: 33px;
}

.pricing__cards-image_box {
    height: 120px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__cards-title {
    color: #267ae9;
    font-weight: 700;
    font-size: 31px;
    line-height: 41px;
    margin-bottom: 22px;
}

.pricing__cards-desc {
    font-family: 'Lato', sans-serif;
    margin-bottom: 48px;
    letter-spacing: 0;
}

.pricing__cards-list--item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    padding-left: 24px;
    position: relative;
}

.pricing__cards-list--item::before {
    content: '';
    height: 11px;
    width: 14px;
    background-image: url(../images/pricing__cards-list--icon.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.pricing__cards-btn {
    background-color: #267ae9;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    word-spacing: 1px;
    padding: 23px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
}

.pricing__cards-btn:hover {
    background-color: #0f61cc;
}

.pricing__cards-btn:active {
    transform: scale(.98);
}