.box-contents {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  &__item {
    &--big {
      grid-row: 1 / -1;
    }

    &-picture {
      display: block;
      margin-bottom: 10px;
      align-self: stretch;
    }
  
    &-img {
      max-width: 100%;
    }

    &-name {
      color: $color-grey;
    }

    &-decor-text {
      background-image: $gradient-pink-purple;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
      font-size: 36px;
      text-transform: uppercase;
    }
  }
}
