.features {
  padding: 100px 0;

  &__top {
    display: flex;

    &-text {
      background-image: $gradient-pink-purple;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 36px;
      text-transform: uppercase;
      max-width: 330px;
    }
  }

  &__title {
    width: 300px;
    padding-right: 20px;
  }

  &__tabs {
    display: flex;

    &-headings {
      width: 300px;
      padding-right: 20px;

      &-item {
        color: $color-grey;
        font-weight: 700;
        margin-bottom: 20px;
        cursor: pointer;

        &.active {
          color: $color-black;
        }
      }
    }

    &-body {
      max-width: 900px;
      width: 100%;
      position: relative;

      &-item {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 150px;
        gap: 20px;
        transition: opacity .3s;

        &.active {
          display: grid;
        }  
      }

      &-picture {
        grid-column: 1 / 3;
        grid-row: 1 / -1;
        padding-right: 20px;
        border-right: 1px solid $color-light-grey;
        align-self: stretch;
      }

      &-img {
        max-width: 100%;
        height: 100%;
      }

      &-desc {
        color: $color-grey;
        padding: 0 0 2px 2px;

        &__title {
          font-weight: 500;
          font-size: 24px;
          margin-bottom: 6px;
        }
      }

      &-video {
        background-image: url(../images/features__video-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;
        padding: 10px;

        &__play-btn {
          color: $color-white;
          text-align: center;

          span {
            display: block;
            font-weight: 400;
            font-size: 13px;
            text-transform: none;
            margin-top: 9px;
          }
        }
      }
    }
  }
}
