@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/dist/Helvetica.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/dist/Helvetica-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
