.header {
  border-bottom: 1px solid $color-light-grey;
  padding: 19px 0;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      text-transform: uppercase;
      display: flex;
      gap: 20px;
    }
  }

  .cart {
    position: relative;

    span {
      background-image: linear-gradient(180deg, rgba(188, 16, 216, 1), rgba(80, 0, 250, 0.93));
      color: $color-white;
      font-size: 11px;
      line-height: 11px;
      min-width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -7px;
      right: -12px;
    }
  }
}