$color-white: #F6F4F5;
$color-grey: #5C5C5E;
$color-light-grey: #CACAD6;
$color-black: #070707;
$font-helvetica: "Helvetica", "sans-serif";
$font-helvetica-bold: "Helvetica-bold", "sans-serif";
$font-inter-bold: "Inter", "sans-serif";
$gradient-pink-purple: linear-gradient(180deg, rgba(188, 16, 216, 1), rgba(80, 0, 250, 0.93));
