.characteristics {
  &__title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    width: 570px;
    max-width: 100%;
  }

  &__list-item {
    & + & {
      margin-top: 30px;
    }

    &__title {
      background-color: $color-black;
      color: $color-white;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding: 2px 0 3px;
    }

    &__info {
      display: flex;
      margin-bottom: 5px;
    }

    &__text {
      flex: 1;
    }
  }

  &__img-wrapper {
    max-width: 570px;
    align-self: center;
  }

  &__img {
    max-width: 100%;
  }
}
