<section class="choose-car section__margin-bottom">
  <div class="container">
    <div class="choose-car__inner">
      <h3 class="section__title choose-car__title section__title-margin--big">
        Choose your car
      </h3>

      <div class="choose-car__tabs">
        <div class="choose-car__tabs-headings">
          <div class="choose-car__tabs-headings-item secondary__title active">
            Car and Minivan
          </div>
          <div class="choose-car__tabs-headings-item secondary__title">
            Trucks
          </div>
          <div class="choose-car__tabs-headings-item secondary__title">
            Crossovers & SUVs
          </div>
          <div class="choose-car__tabs-headings-item secondary__title">
            Electrified
          </div>
        </div>

        <div class="choose-car__tabs-body">
          <div class="choose-car__tabs-body-item active">
            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-01.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Toyota Crown 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 650/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-02.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Prius Prime 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 450/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-03.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Toyota Prius 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 400/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-04.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Hyundai Kona 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 510/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-05.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Ford Explorer 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 1,013/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-06.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Santa Fe 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 739/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-07.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Kia Niro 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 33600
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 554/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-08.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Silverado
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 62260
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 1,032/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-09.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Honda CR-V 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 36650
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 591/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-10.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Hyundai Tucson
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 31885
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 528/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-11.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Equinox
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 28430
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 471/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-12.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Jeep Wrangler 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 60000
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 997/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>
          </div>

          <div class="choose-car__tabs-body-item">
            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-09.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Honda CR-V 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 36650
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 591/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-10.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Hyundai Tucson
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 31885
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 528/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-11.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Equinox
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 28430
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 471/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-12.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Jeep Wrangler 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 60000
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 997/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>
          </div>

          <div class="choose-car__tabs-body-item">
            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-05.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Ford Explorer 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 1,013/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-06.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Santa Fe 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 739/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-07.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Kia Niro 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 33600
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 554/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-08.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Silverado
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 62260
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 1,032/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-09.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Honda CR-V 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 36650
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 591/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-10.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Hyundai Tucson
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 31885
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 528/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-11.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Equinox
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 28430
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 471/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>
          </div>

          <div class="choose-car__tabs-body-item">
            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-03.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Toyota Prius 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 400/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-04.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Hyundai Kona 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 510/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-05.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Ford Explorer 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 1,013/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-06.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Santa Fe 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 39900
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 739/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-07.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Kia Niro 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 33600
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 554/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-08.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Silverado
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 62260
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 1,032/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-09.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Honda CR-V 2023
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 36650
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 591/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-10.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Hyundai Tucson
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 31885
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 528/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>

            <div class="choose-car__tabs-card">
              <img
                src="../images/choose-car-11.jpg"
                alt="car img"
                class="choose-car__tabs-card__img"
              />
              <div class="choose-car__tabs-card__content">
                <h5 class="secondary__title choose-car__tabs-body__title">
                  Chevrolet Equinox
                </h5>
                <div class="choose-car__tabs-body__text">
                  starting from $ 28430
                </div>
                <div class="choose-car__tabs-body__price secondary__title">
                  $ 471/mo
                </div>
              </div>

              <a class="choose-car__tabs-body__link" href="#!">see details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="choose-car__show-more">
        <a
          href="#!"
          class="btn btn__small btn__black btn__choose-car__show-more"
          >Show more</a
        >
      </div>
    </div>
  </div>
</section>
