<section class="contact-us section__margin-bottom">
  <div class="container">
    <h3 class="section__title contact-us__title section__title-margin--small">
      Contact Us
    </h3>
    <h5
      class="secondary__title contact-us__secondary-title"
    >
      Feel free to contact us with questions, potencial partnerships or media
      inquiries
    </h5>

    <form class="contact-us__form">
      <input
        class="contact-us__form-input"
        type="text"
        placeholder="Name"
      /><input
        class="contact-us__form-input"
        type="email"
        placeholder="E-mail"
      /><textarea
        class="contact-us__form-textarea"
        id="contact-us__form-message"
        placeholder="Your text"
      ></textarea>
      <button class="btn btn__small btn__black btn__contact-us" type="submit">
        Submit
      </button>
    </form>
  </div>
</section>
