<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <ul class="footer__top-list">
          <li class="footer__top-list-item">
            <h5 class="footer__top-list-title secondary__title">Products</h5>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Used</a>
          </li>
          <li class="footer__top-list-item">
            <a href="./new-cars.html" class="footer__top-list-link">New</a>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Sell you car</a>
          </li>
        </ul>
        <ul class="footer__top-list">
          <li class="footer__top-list-item">
            <h5 class="footer__top-list-title secondary__title">Resources</h5>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Blog</a>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">FAQ</a>
          </li>
          <li class="footer__top-list-item">
            <a href="./contact-us-page.html" class="footer__top-list-link">Contact us</a>
          </li>
        </ul>
        <ul class="footer__top-list">
          <li class="footer__top-list-item">
            <h5 class="footer__top-list-title secondary__title">Work With TrueCar</h5>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Dealers</a>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Partners</a>
          </li>
        </ul>
        <ul class="footer__top-list">
          <li class="footer__top-list-item">
            <h5 class="footer__top-list-title secondary__title">About</h5>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">About us</a>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Team</a>
          </li>
          <li class="footer__top-list-item">
            <a href="#!" class="footer__top-list-link">Careers</a>
          </li>
        </ul>
      </div>

      <ul class="footer__mobile-apps-list">
        <li class="footer__mobile-apps-item">
          <a href="#!" class="footer__mobile-app-link">
            <img
              class="footer__mobile-apps-img"
              src="../images/appstore-logo.svg"
              alt="appstore"
            />
          </a>
        </li>
        <li class="footer__mobile-apps-item">
          <a href="#!" class="footer__mobile-app-link">
            <img
              class="footer__mobile-apps-img"
              src="../images/play-market-logo.svg"
              alt="play market"
            />
          </a>
        </li>
      </ul>

      <div class="footer__text">
        <p class="footer__text-item">
          For questions about the TrueCar Auto Buying Service please call
          1-888-878-3227. 
        </p>
        <p class="footer__text-item">
          Certified Dealers are contractually obligated by
          TrueCar to meet certain customer service requirements and complete the
          TrueCar Dealer Certification Program.
        </p>
        <p class="footer__text-item">
          TrueCar does not broker, sell, or lease motor vehicles. Unless
          otherwise noted, all vehicles shown on this website are offered for
          sale by licensed motor vehicle dealers. All vehicles are subject to
          prior sale. By accessing this website, you agree to the TrueCar Terms
          of Service and Privacy Policy.
        </p>
      </div>

      <ul class="footer__legal-list">
        <li class="footers__legal-list-item">
          <a class="footer__lega-list-link" href="#!">Terms of Service</a>
        </li>
        <li class="footers__legal-list-item">
          <a class="footer__lega-list-link" href="#!">Privacy Policy</a>
        </li>
        <li class="footers__legal-list-item">
          <a class="footer__lega-list-link" href="#!"
            >Do Not Sell My Personal Information</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
