<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" href="./index.html">
        <img class="logo__img" src="../images/logo.svg" alt="logo" />
      </a>

      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__menu-item">
            <a href="./new-cars.html" class="nav__menu-link">New Cars</a>
          </li>
          <li class="nav__menu-item">
            <a href="#" class="nav__menu-link">Pre-owned Cars</a>
          </li>
          <li class="nav__menu-item">
            <a href="#" class="nav__menu-link">Finance</a>
          </li>
          <li class="nav__menu-item">
            <a href="#" class="nav__menu-link">Lease VS Buy</a>
          </li>
          <li class="nav__menu-item">
            <a href="./contact-us-page.html" class="nav__menu-link">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
