<section class="hero">
  <div class="hero__content">
    <div class="container">
      <div class="hero__content-inner">
        <h1 class="hero__title">Leasing From D&M</h1>
        <a class="btn btn__big btn__black" href="./new-cars.html">Find a Car</a>
      </div>
    </div>
  </div>

  <div class="swiper hero__slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide hero__slider-item"
        style="background-image: url(../images/hero__slider-01.jpg)"
      ></div>
      <div
        class="swiper-slide hero__slider-item"
        style="background-image: url(../images/hero__slider-02.jpg)"
      ></div>
      <div
        class="swiper-slide hero__slider-item"
        style="background-image: url(../images/hero__slider-03.jpg)"
      ></div>
      <div
        class="swiper-slide hero__slider-item"
        style="background-image: url(../images/hero__slider-04.jpg)"
      ></div>
    </div>
    <div class="swiper-pagination hero__slider-pagination"></div>
  </div>
</section>
