<section class="how-it-works section__margin-bottom">
  <div class="container">
    <div class="how-it-works__inner">
      <h3 class="section__title how-it-works__title section__title-margin--big">
        How Does Leasing Work?
      </h3>
      <p class="how-it-works__text">
        Leasing a vehicle is essentially entering into a long term rental
        agreement for that vehicle. Unlike a traditional car purchase, you don’t
        actually own the vehicle. Instead, a leasing company purchases the
        vehicle from the dealer on your behalf and then you make monthly
        payments to the leasing company for the duration of your lease. Some
        leases however, do provide the option to purchase the vehicle at the end
        of the lease.
      </p>

      <h5 class="secondary__title how-it-works__secondary-title">
        Similar to a short term car rental, there are rules that define:
      </h5>

      <ol class="how-it-works__list">
        <li class="how-it-works__list-item">
          How much you can drive, stated as annual miles (excess miles are
          charged at a specified rate)
        </li>
        <li class="how-it-works__list-item">
          Types of damage that you may be liable for at the end of your lease
        </li>
        <li class="how-it-works__list-item">
          The procedures and costs when you return the vehicle at the end of
          your lease
        </li>
      </ol>
      <p class="how-it-works__text">
        Lease contracts are a commitment and ending them early can be difficult
        and expensive so it is important to consider your circumstances
        carefully before you decide.
      </p>
    </div>
  </div>
</section>
