<div class="recommended-posts section__margin-bottom">
  <div class="container">
    <div class="recommended-posts__inner">
      <div class="recommended-posts__item">
        <picture class="recommended-posts__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/recommended-posts__img-01@1x.avif 1x,
              ../images/recommended-posts__img-01@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/recommended-posts__img-01@1x.webp 1x,
              ../images/recommended-posts__img-01@2x.webp 2x
            "
          />
          <img
            class="recommended-posts__item-img"
            src="../images/recommended-posts__img-01@1x.jpg"
            srcset="../images/recommended-posts__img-01@2x.jpg 2x"
            alt="post image"
          />
        </picture>

        <h5 class="secondary__title recommended-posts__item-title">
          An easier way to buy your next Toyota
        </h5>

        <a class="recommended-posts__item-link" href="#!">more</a>
      </div>

      <div class="recommended-posts__item">
        <picture class="recommended-posts__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/recommended-posts__img-02@1x.avif 1x,
              ../images/recommended-posts__img-02@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/recommended-posts__img-02@1x.webp 1x,
              ../images/recommended-posts__img-02@2x.webp 2x
            "
          />
          <img
            class="recommended-posts__item-img"
            src="../images/recommended-posts__img-02@1x.jpg"
            srcset="../images/recommended-posts__img-02@2x.jpg 2x"
            alt="post image"
          />
        </picture>

        <h5 class="secondary__title recommended-posts__item-title">
          A Guide to Road-Tripping With Pets
        </h5>

        <a class="recommended-posts__item-link" href="#!">more</a>
      </div>
    </div>

    <div class="recommended-posts__show-more">
      <a
        class="btn btn__small btn__black btn__recommended-posts__show-more"
        href="#!"
        >Show More</a
      >
    </div>
  </div>
</div>
