<section class="things-to-consider section__margin-bottom">
  <div class="container">
    <h3
      class="section__title things-to-consider__title section__title-margin--small"
    >
      Important Things to Consider
    </h3>
    <p class="things-to-consider__desc">
      Depending on your circumstances and what is important to you, a lease
      could be a great option for your next vehicle. Below are some important
      factors that may influence your decision.
    </p>

    <ul class="things-to-consider__list">
      <li class="things-to-consider__list-item">
        <img
          src="../images/things-to-consider-1.jpg"
          alt="things-to-consider"
          class="things-to-consider__list-item__img"
        />
        <p class="things-to-consider__list-item__text">
          Monthly payments on leases are generally 20% - 30% cheaper than loans
        </p>
      </li>
      <li class="things-to-consider__list-item">
        <img
          src="../images/things-to-consider-2.jpg"
          alt="things-to-consider"
          class="things-to-consider__list-item__img"
        />
        <p class="things-to-consider__list-item__text">
          You may be eligible for a tax break if you use the leased vehicle for
          business purposes
        </p>
      </li>
      <li class="things-to-consider__list-item">
        <img
          src="../images/things-to-consider-3.jpg"
          alt="things-to-consider"
          class="things-to-consider__list-item__img"
        />
        <p class="things-to-consider__list-item__text">
          Easy to upgrade to the newest vehicle model every few years
        </p>
      </li>
      <li class="things-to-consider__list-item">
        <img
          src="../images/things-to-consider-4.jpg"
          alt="things-to-consider"
          class="things-to-consider__list-item__img"
        />
        <p class="things-to-consider__list-item__text">
          There are often fees charged if you drive more than your lease's
          mileage allowance
        </p>
      </li>
    </ul>
  </div>
</section>
