<section class="why-lease section__margin-bottom">
  <div class="container">
    <h3 class="section__title why-lease__title section__title-margin--big">Why Lease with D&M</h3>
    <ul class="why-lease__list">
      <li class="why-lease__list-item">
        <img class="why-lease__list-item__img" src="../images/why-lease-1.svg" alt="icon" />
        <h5 class="secondary__title why-lease__list-item__title">Top Dealers</h5>
        <p class="why-lease__list-item__text">
          TrueCar Certified Dealers compete for your business by providing
          discounted pricing on in-stock inventory.
        </p>
      </li>
      <li class="why-lease__list-item">
        <img class="why-lease__list-item__img" src="../images/why-lease-2.svg" alt="icon" />
        <h5 class="secondary__title why-lease__list-item__title">Discounted Pricing</h5>
        <p class="why-lease__list-item__text">
          View local inventory from the comfort of home and get access to
          guaranteed savings on the car of your choice.
        </p>
      </li>
      <li class="why-lease__list-item">
        <img class="why-lease__list-item__img" src="../images/why-lease-3.svg" alt="icon" />
        <h5 class="secondary__title why-lease__list-item__title">Lower Payments</h5>
        <p class="why-lease__list-item__text">
          Get discounted pricing when you shop for a car or truck using TrueCar
          and save on your lease payment.
        </p>
      </li>
      <li class="why-lease__list-item">
        <img class="why-lease__list-item__img" src="../images/why-lease-4.svg" alt="icon" />
        <h5 class="secondary__title why-lease__list-item__title">Easy Upgrade</h5>
        <p class="why-lease__list-item__text">
          Easy to upgrade to the newest vehicle model every few years if you
          would like to be modern and comfortable
        </p>
      </li>
    </ul>
  </div>
</section>
