* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-inter;
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-comforta;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.container {
  max-width: 90%;
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border: none;
  font-family: $font-comforta;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.btn__small {
  font-size: 20px;
  padding: 11px 74px 10px;
}

.btn__big {
  font-size: 40px;
  padding: 18px 197px 17px;
}

.btn__black {
  background-color: $color-dark;
  color: $color-white;

  &:hover {
    background-color: $color-light-green;
    color: $color-dark;
  }
}

.btn__transparent {
  background-color: transparent;
  color: $color-teal;
  border: 2px solid $color-teal;

  &:hover {
    background-color: $color-light-green;
    color: $color-dark;
    border: 2px solid $color-light-green;
  }
}

.btn__play {
  background-color: transparent;
  color: $color-white;
  font-family: $font-inter;
  font-weight: 400;
  font-size: 18px;
  text-transform: unset;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    margin-top: 12px;
  }

  span,
  path,
  circle {
    transition: all 0.3s;
  }

  &:hover span {
    color: $color-teal;
  }

  &:hover path {
    fill: $color-light-green;
  }

  &:hover circle {
    stroke: $color-light-green;
  }
}

.logo {
  & path {
    transition: all 0.3s;
  }

  &:hover path {
    fill: $color-teal;
  }
}
