<section class="apartments">
  <div class="container">
    <div class="section__decor apartments__decor">III</div>
    <h3 class="apartments__title section__title">Наши квартиры</h3>
    <div class="apartments__inner">
      <a class="apartments__item" href="#!">
        <img
          class="apartments__item-img"
          src="../images/apartments__img-01.jpg"
          alt="Пентхаус “Loft Олимп”"
        />
        <h5 class="apartments__item-title">Пентхаус “Loft Олимп”</h5>
      </a>
      <a class="apartments__item" href="#!">
        <img
          class="apartments__item-img"
          src="../images/apartments__img-02.jpg"
          alt="Апартаменты “Nice Loft”"
        />
        <h5 class="apartments__item-title">Апартаменты “Nice Loft”</h5>
      </a>
      <a class="apartments__item" href="#!">
        <img
          class="apartments__item-img"
          src="../images/apartments__img-03.jpg"
          alt="Апартаменты “Loft Studio”"
        />
        <h5 class="apartments__item-title">Апартаменты “Loft Studio”</h5>
      </a>
      <a class="apartments__item" href="#!">
        <img
          class="apartments__item-img"
          src="../images/apartments__img-04.jpg"
          alt="Loft квартира “Престиж”"
        />
        <h5 class="apartments__item-title">Loft квартира “Престиж”</h5>
      </a>
    </div>
  </div>
</section>
