<div class="benefits">
  <div class="container">
    <div class="section__decor benefits__decor">II</div>
    <div class="benefits__inner">
      <div class="benefits__item">
        <img
          src="../images/icon__bench.svg"
          alt="bench icon"
          class="benefits__item-img"
        />
        <div class="benefits__item-text">Рядом исторические парки и скверы</div>
      </div>
      <div class="benefits__item">
        <img
          src="../images/icon__building.svg"
          alt="bench icon"
          class="benefits__item-img"
        />
        <div class="benefits__item-text">Полностью обустроенный</div>
      </div>
      <div class="benefits__item">
        <img
          src="../images/icon__fountain.svg"
          alt="bench icon"
          class="benefits__item-img"
        />
        <div class="benefits__item-text">10 фонтанов на территории</div>
      </div>
      <div class="benefits__item">
        <img
          src="../images/icon__bicycle.svg"
          alt="bench icon"
          class="benefits__item-img"
        />
        <div class="benefits__item-text">6 км велодорожек</div>
      </div>
    </div>
  </div>
</div>
