<section class="contact-us section">
  <div class="container">
    <div class="contact-us__inner">
      <h3 class="contact-us__title section__title">Есть вопросы?</h3>

      <form class="form contact-us__form">
        <p class="form-text">
          *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
        </p>
        <input
          class="form-input contact-us__form-input"
          type="text"
          placeholder="Ваше имя"
        />
        <input
          class="form-input contact-us__form-input"
          type="tel"
          placeholder="Ваш телефон"
        />
        <button class="btn btn__orange btn__contact-us" type="submit">
          Посмотреть район
        </button>
      </form>
    </div>
  </div>
</section>
