<section class="cta">
  <div class="container">
    <h3 class="cta__title section__title">Хотите посмотреть?</h3>
    <div class="cta__inner">
      <div class="cta__desc">
        <p class="cta__text">
          ЖК LoftHouse – это проект бизнес-класса, расположенный в центре
          города, на Наб. реки Фонтанки 10-15. Комплекс предлагает своим жильцам
          квартиры площадью от 40 до 170 кв. м. В здании будет три секции, в
          которых разместится всего 56 квартир.
        </p>
      </div>

      <form class="form cta__form">
        <input
          class="form-input cta__form-input"
          type="text"
          placeholder="Ваше имя"
        />
        <input
          class="form-input cta__form-input"
          type="tel"
          placeholder="Ваш телефон"
        />
        <p class="form-text cta__form-text">
          *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
        </p>

        <button class="btn btn__orange btn__cta" type="submit">Посмотреть район</button>
      </form>
    </div>
  </div>
</section>
