<section class="map">
  <div class="container">
    <div class="map__decor section__decor">V</div>
    <div class="map__inner">
      <h3 class="map__title section__title">Район на карте</h3>

      <div class="map__content">
        <iframe
          class="map__content-iframe"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11979.788994360792!2d69.2118908!3d41.3535003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8dcec742a531%3A0x4091023b8fe345c!2zTE9GVCBIT1VTRSAtINCc0LXQsdC10LvRjCDQsiDRgdGC0LjQu9C1INC70L7RhNGC!5e0!3m2!1sen!2s!4v1692299016510!5m2!1sen!2s"
          width="1110"
          height="358"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
