<div class="gallery">
  <div class="container">
    <div class="gallery__inner">
      <picture class="gallery__picture gallery__picture--one">
        <source
          type="image/avif"
          srcset="
            ../images/gallery-01@1x.avif 1x,
            ../images/gallery-01@2x.avif 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ../images/gallery-01@1x.webp 1x,
            ../images/gallery-01@2x.webp 2x
          "
        />
        <img
          class="gallery__img"
          src="../images/gallery-01@1x.jpg"
          srcset="../images/gallery-01@2x.jpg 2x"
          alt="gallery img"
        />
      </picture>
      <picture class="gallery__picture gallery__picture--two">
        <source
          type="image/avif"
          srcset="
            ../images/gallery-02@1x.avif 1x,
            ../images/gallery-02@2x.avif 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ../images/gallery-02@1x.webp 1x,
            ../images/gallery-02@2x.webp 2x
          "
        />
        <img
          class="gallery__img"
          src="../images/gallery-02@1x.jpg"
          srcset="../images/gallery-02@2x.jpg 2x"
          alt="gallery img"
        />
      </picture>
      <picture class="gallery__picture gallery__picture--three">
        <source
          type="image/avif"
          srcset="
            ../images/gallery-03@1x.avif 1x,
            ../images/gallery-03@2x.avif 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ../images/gallery-03@1x.webp 1x,
            ../images/gallery-03@2x.webp 2x
          "
        />
        <img
          class="gallery__img"
          src="../images/gallery-03@1x.jpg"
          srcset="../images/gallery-03@2x.jpg 2x"
          alt="gallery img"
        />
      </picture>
      <picture class="gallery__picture gallery__picture--four">
        <source
          type="image/avif"
          srcset="
            ../images/gallery-04@1x.avif 1x,
            ../images/gallery-04@2x.avif 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ../images/gallery-04@1x.webp 1x,
            ../images/gallery-04@2x.webp 2x
          "
        />
        <img
          class="gallery__img"
          src="../images/gallery-04@1x.jpg"
          srcset="../images/gallery-04@2x.jpg 2x"
          alt="gallery img"
        />
      </picture>
      <picture class="gallery__picture gallery__picture--five">
        <source
          type="image/avif"
          srcset="
            ../images/gallery-05@1x.avif 1x,
            ../images/gallery-05@2x.avif 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ../images/gallery-05@1x.webp 1x,
            ../images/gallery-05@2x.webp 2x
          "
        />
        <img
          class="gallery__img"
          src="../images/gallery-05@1x.jpg"
          srcset="../images/gallery-05@2x.jpg 2x"
          alt="gallery img"
        />
      </picture>
      <div class="gallery__text">
        Enjoy your life
      </div>
      <picture class="gallery__picture gallery__picture--six">
        <source
          type="image/avif"
          srcset="
            ../images/gallery-06@1x.avif 1x,
            ../images/gallery-06@2x.avif 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ../images/gallery-06@1x.webp 1x,
            ../images/gallery-06@2x.webp 2x
          "
        />
        <img
          class="gallery__img"
          src="../images/gallery-06@1x.jpg"
          srcset="../images/gallery-06@2x.jpg 2x"
          alt="gallery img"
        />
      </picture>
    </div>
  </div>
</div>
