<div class="info">
  <div class="container">
    <div class="info__top">
      <div class="info__top-left">
        <p class="info__top-text">
          After our well received Fly Air Pocket Edition we’re adding the
          respective touring iSUP to our Range – the Ray Air Pocket Edition! The
          ultra travel-friendly touring iSUP is built in a tough but light
          construction that allows it to be packed into a backpack half the size
          of a regular iSUP.
        </p>
        <button class="btn btn__play btn__play-info">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M52.6733 34.5L26.1634 49.6554V19.3446L52.6733 34.5Z"
              fill="white"
            />
            <circle cx="35" cy="35" r="34" stroke="white" stroke-width="2" />
          </svg>

          <span>Play Video</span>
        </button>
      </div>
      <div class="info__top-middle">
        <p class="info__top-text">
          With a thinner deck pad and tough but flexible construction, the Ray
          Air Pocket Edition can be rolled and packed into a much narrower bag,
          making it extremely easy to store and transport. Based on our highly
          versatile Ray Air 11’6’’, the efficient shape is packed with volume -
          offering safe, stable paddling and superb glide – which makes it the
          perfect iSUP for everyone paddling some distance. With its minimal
          weight and dimensions nothing comes close the convenient handling of
          our Pocket Edition iSUPs!
        </p>
      </div>

      <picture class="info__top-picture">
        <source
          type="image/avif"
          srcset="../images/info__RayAirPocket@1x.avif 1, ../images/info__RayAirPocket@2x.avif 2"
        />
        <source
          type="image/webp"
          srcset="../images/info__RayAirPocket@1x.webp 1, ../images/info__RayAirPocket@2x.webp 2"
        />
        <img
          class="info__top-img"
          src="../images/info__RayAirPocket@1x.png"
          srcset="../images/info__RayAirPocket@2x.png 2"
          alt="RayAirPocket"
        />
      </picture>
    </div>

    <div class="info__bottom">
      <h4 class="info__bottom-title">
        Specs
      </h4>

      <ul class="info__bottom-list">
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">BOARD</div>
          <div class="info__bottom-spec-text">RAY AIR POCKET 11'6"X31"</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">VOLUME</div>
          <div class="info__bottom-spec-text">299 L</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">WIDTH</div>
          <div class="info__bottom-spec-text">31" / 78.7 CM</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">LENGTH</div>
          <div class="info__bottom-spec-text">11'6'' / 350.5 CM</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">THICKNESS</div>
          <div class="info__bottom-spec-text">6” / 15 CM</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">WEIGHT</div>
          <div class="info__bottom-spec-text">8.5 KG</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">FITTINGS</div>
          <div class="info__bottom-spec-text">2X FCS FIN SYSTEM / 2 X 4.5" CLICK FIN</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">REC. USER WEIGHT</div>
          <div class="info__bottom-spec-text">UP TO 100 KG</div>
        </li>
        <li class="info__bottom-list-item">
          <div class="info__bottom-spec-title">MASTFOOT INSERT</div>
          <div class="info__bottom-spec-text">NO</div>
        </li>
      </ul>
    </div>
  </div>
</div>
