<section class="products">
  <div class="container">
    <div class="products__inner">
      <div class="products__info">
        <h3 class="products__title">Ray Air Pocket</h3>

        <ul class="products__list">
          <li class="products__list-item">
            <h5 class="products__list-item-title">CLICK FINS</h5>
            <p class="products__list-item-text">
              Comes with two 4.5’’ Click Fins – no tools required – fit and
              remove in seconds
            </p>
          </li>
          <li class="products__list-item">
            <h5 class="products__list-item-title">REDUCED DECK PAD</h5>
            <p class="products__list-item-text">
              Reduced area deck pad in standing area to aid packing
            </p>
          </li>
          <li class="products__list-item">
            <h5 class="products__list-item-title">BACKPACK</h5>
            <p class="products__list-item-text">
              Compact Pocket backpack with easy entry zipper for board, paddle,
              pump and accessories (fits paddle and also regular pump)
            </p>
          </li>
          <li class="products__list-item">
            <h5 class="products__list-item-title">TOURING SHAPE</h5>
            <p class="products__list-item-text">
              Tried and tested shape based on our popular Ray Air 11’6’’
            </p>
          </li>
          <li class="products__list-item">
            <h5 class="products__list-item-title">EXTREMELY PORTABLE</h5>
            <p class="products__list-item-text">
              Extremely portable, the ultimate travel companion
            </p>
          </li>
        </ul>

        <button class="btn btn__big btn__transparent btn__products-cta">
          Buy
        </button>

        <div class="products__price">590 €</div>
      </div>

      <picture class="products__picture">
        <source
          type="image/avif"
          srcset="../images/products__img@1x.avif 1, ../images/products__img@2x.avif 2"
        />
        <source
          type="image/webp"
          srcset="../images/products__img@1x.webp 1, ../images/products__img@2x.webp 2"
        />
        <img
          class="products__img"
          src="../images/products__img@1x.png"
          srcset="../images/products__img@2x.png 2"
          alt="products"
        />
      </picture>
    </div>
  </div>
</section>
