<section class="technology">
  <div class="technology__top">
    <div class="container">
      <div class="technology__top-inner">
        <button class="btn btn__play btn__play-technology">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M52.6733 34.5L26.1634 49.6554V19.3446L52.6733 34.5Z"
              fill="white"
            />
            <circle cx="35" cy="35" r="34" stroke="white" stroke-width="2" />
          </svg>

          <span>Play Video</span>
        </button>
        <div class="technology__top-content">
          <h3 class="section__title technology__title">Micro technology</h3>
          <ol class="technology__top-list">
            <li class="technology__top-list-item">First PVC rail layer</li>
            <li class="technology__top-list-item">Second PVC rail layer</li>
            <li class="technology__top-list-item">
              Thin diamond grooving split-pad
            </li>
            <li class="technology__top-list-item">Strong Tarpaulin layer</li>
            <li class="technology__top-list-item">V-Drop Stitch core</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="technology__bottom">
    <div class="container">
      <div class="technology__bottom-inner">
        <p class="technology__bottom-text">
          Our new Micro technology provides a featherweight and quality
          construction that can be rolled and packed into a backpack half the
          width of a standard iSUP package. The reduced pad and our twin Click
          Fin system make it possible to have a regular sized iSUP packed into
          minimal space.
        </p>

        <div class="technology__bottom-gallery">
          <picture class="technology__bottom-gallery__picture technology__bottom-gallery__picture--one">
            <source
              type="image/avif"
              srcset="../images/technology__gallery-1@1x.avif 1x, ../images/technology__gallery-1@2x.avif 2x"
            />
            <source
              type="image/webp"
              srcset="../images/technology__gallery-1@1x.webp 1x, ../images/technology__gallery-1@2x.webp 2x"
            />
            <img
              class="technology__bottom-gallery__img"
              src="../images/technology__gallery-1@1x.jpg"
              srcset="../images/technology__gallery-1@2x.jpg 2x"
              alt="technology image"
            />
          </picture>
          <picture class="technology__bottom-gallery__picture technology__bottom-gallery__picture--two">
            <source
              type="image/avif"
              srcset="../images/technology__gallery-2@1x.avif 1x, ../images/technology__gallery-2@2x.avif 2x"
            />
            <source
              type="image/webp"
              srcset="../images/technology__gallery-2@1x.webp 1x, ../images/technology__gallery-2@2x.webp 2x"
            />
            <img
              class="technology__bottom-gallery__img"
              src="../images/technology__gallery-2@1x.jpg"
              srcset="../images/technology__gallery-2@2x.jpg 2x"
              alt="technology image"
            />
          </picture>
          <picture class="technology__bottom-gallery__picture technology__bottom-gallery__picture--three">
            <source
              type="image/avif"
              srcset="../images/technology__gallery-3@1x.avif 1x, ../images/technology__gallery-3@2x.avif 2x"
            />
            <source
              type="image/webp"
              srcset="../images/technology__gallery-3@1x.webp 1x, ../images/technology__gallery-3@2x.webp 2x"
            />
            <img
              class="technology__bottom-gallery__img"
              src="../images/technology__gallery-3@1x.jpg"
              srcset="../images/technology__gallery-3@2x.jpg 2x"
              alt="technology image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
