<section class="about-us section__margin-bottom">
  <div class="container">
    <div class="about-us__inner">
      <div class="section__content about-us__content">
        <h3 class="section__title about-us__title">Про нас</h3>
        <p class="about-us__text">
          Богдан творець бренду який завжди зацікавлений у виготовленні
          різноманітних речей вдома. Він регулярно експериментував з різними
          матеріалами та інструментами, спробувавши свої сили у багатьох
          галузях, включаючи виготовлення свічок.
        </p>
        <p class="about-us__text">
          Ссоєвий віск виготовляють із соєвих бобів, що зрощуються в Данії, і
          цей вид воску є екологічно чистим та безпечним для здоров'я.
        </p>
      </div>

      <ul class="about-us__images-list">
        <li class="about-us__images-list-item">
          <picture class="about-us__images-picture about-us__images-picture--one">
            <source
              type="image/avif"
              srcset="
                ../images/about-us__img-01@1x.avif 1x,
                ../images/about-us__img-01@2x.avif
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/about-us__img-01@1x.webp 1x,
                ../images/about-us__img-01@2x.webp
              "
            />
            <img
              class="about-us__images-img about-us__images-img--one"
              src="../images/about-us__img-01@1x.jpg"
              srcset="../images/about-us__img-01@2x.jpg 2x"
              alt="about us img"
            />
          </picture>
          <div class="about-us__images-text">Насолоджуйтеся моментом</div>
        </li>
        <li class="about-us__images-list-item">
          <picture class="about-us__images-picture about-us__images-picture--two">
            <source
              type="image/avif"
              srcset="
                ../images/about-us__img-02@1x.avif 1x,
                ../images/about-us__img-02@2x.avif
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/about-us__img-02@1x.webp 1x,
                ../images/about-us__img-02@2x.webp
              "
            />
            <img
              class="about-us__images-img about-us__images-img--two"
              src="../images/about-us__img-02@1x.jpg"
              srcset="../images/about-us__img-02@2x.jpg 2x"
              alt="about us img"
            />
          </picture>
          <div class="about-us__images-text">
            Створіть улюблену атмосферу
          </div>
        </li>
        <li class="about-us__images-list-item">
          <picture class="about-us__images-picture about-us__images-picture--three">
            <source
              type="image/avif"
              srcset="
                ../images/about-us__img-03@1x.avif 1x,
                ../images/about-us__img-03@2x.avif
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/about-us__img-03@1x.webp 1x,
                ../images/about-us__img-03@2x.webp
              "
            />
            <img
              class="about-us__images-img about-us__images-img--three"
              src="../images/about-us__img-03@1x.jpg"
              srcset="../images/about-us__img-03@2x.jpg 2x"
              alt="about us img"
            />
          </picture>
          <div class="about-us__images-text">Виготовлені з любов'ю</div>
        </li>
      </ul>
    </div>
  </div>
</section>
