<section class="certificates section__margin-bottom">
  <div class="container">
    <div class="certificates__inner section__inner">
      <div class="certificates__desc section__desc">
        <h3 class="certificates__title section__title">Сертифікати якості</h3>
        <p class="certificates__desc-text section__desc-text">
          Сертифікати забезпечують додаткову довіру та впевненість для наших
          клієнтів.
        </p>
      </div>

      <div class="certificates__content section__decor">
        <div class="certificates__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-01@1x.avif 1x,
                      ../images/certificates__img-01@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-01@1x.webp 1x,
                      ../images/certificates__img-01@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-01@1x.jpg"
                    srcset="../images/certificates__img-01@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-02@1x.avif 1x,
                      ../images/certificates__img-02@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-02@1x.webp 1x,
                      ../images/certificates__img-02@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-02@1x.jpg"
                    srcset="../images/certificates__img-02@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-01@1x.avif 1x,
                      ../images/certificates__img-01@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-01@1x.webp 1x,
                      ../images/certificates__img-01@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-01@1x.jpg"
                    srcset="../images/certificates__img-01@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-02@1x.avif 1x,
                      ../images/certificates__img-02@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-02@1x.webp 1x,
                      ../images/certificates__img-02@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-02@1x.jpg"
                    srcset="../images/certificates__img-02@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-01@1x.avif 1x,
                      ../images/certificates__img-01@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-01@1x.webp 1x,
                      ../images/certificates__img-01@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-01@1x.jpg"
                    srcset="../images/certificates__img-01@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-02@1x.avif 1x,
                      ../images/certificates__img-02@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-02@1x.webp 1x,
                      ../images/certificates__img-02@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-02@1x.jpg"
                    srcset="../images/certificates__img-02@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-01@1x.avif 1x,
                      ../images/certificates__img-01@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-01@1x.webp 1x,
                      ../images/certificates__img-01@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-01@1x.jpg"
                    srcset="../images/certificates__img-01@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__slider-item">
                <picture class="certificates__slider-item__picture">
                  <source
                    type="image/avif"
                    srcset="
                      ../images/certificates__img-02@1x.avif 1x,
                      ../images/certificates__img-02@2x.avif 2x
                    "
                  />
                  <source
                    type="image/webp"
                    srcset="
                      ../images/certificates__img-02@1x.webp 1x,
                      ../images/certificates__img-02@2x.webp 2x
                    "
                  />
                  <img
                    class="certificates__slider-item__img"
                    src="../images/certificates__img-02@1x.jpg"
                    srcset="../images/certificates__img-02@2x.jpg 2x"
                    alt="certificates img"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination--certificates"></div>
        </div>
      </div>
    </div>
  </div>
</section>
