<section class="courses section__margin-bottom">
  <div class="container">
    <div class="courses__inner section__inner">
      <div class="courses__desc section__desc">
        <h3 class="courses__title section__title">Наші курси</h3>
        <p class="courses__desc-text section__desc-text">
          Наші курси дозволяють зробити перший крок в новій кар'єрі або
          поглибити знання в своїй галузі, розвиватися як професіонал, а також
          покращити якість свого життя.
        </p>
      </div>

      <div class="courses__content section__content section__decor">
        <div class="courses__content-item">
          <div class="courses__content-img-box">
            <picture class="courses__content-item__picture">
              <source
                type="image/avif"
                srcset="
                  ../images/courses__img-01@1x.avif 1x,
                  ../images/courses__img-01@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/courses__img-01@1x.webp 1x,
                  ../images/courses__img-01@2x.webp 2x
                "
              />
              <img
                class="courses__content-item__img"
                src="../images/courses__img-01@1x.jpg"
                srcset="../images/courses__img-01@2x.jpg 2x"
                alt="courses img"
              />
            </picture>

            <div class="courses__content-img-box__info">
              <div class="courses__content-img-box__title">
                Основи виготовлення свічок
              </div>
              <div class="courses__content-img-box__time">
                Навчання - <span>20 год</span>
              </div>
            </div>

            <div class="courses__content-img-box__price">Ціна - 40$</div>
          </div>

          <h5 class="courses__content-item__title">
            Основи виготовлення свічок
          </h5>
          <p class="courses__content-item__text">
            Будем навчати основам виготовлення свічок з різних матеріалів.
          </p>

          <button class="btn btn__orange btn__courses-cta">Купити курс</button>
        </div>

        <div class="courses__content-item">
          <div class="courses__content-img-box">
            <picture class="courses__content-item__picture">
              <source
                type="image/avif"
                srcset="
                  ../images/courses__img-02@1x.avif 1x,
                  ../images/courses__img-02@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/courses__img-02@1x.webp 1x,
                  ../images/courses__img-02@2x.webp 2x
                "
              />
              <img
                class="courses__content-item__img"
                src="../images/courses__img-02@1x.jpg"
                srcset="../images/courses__img-02@2x.jpg 2x"
                alt="courses img"
              />
            </picture>

            <div class="courses__content-img-box__info">
              <div class="courses__content-img-box__title">
                Мистецтво ароматерапії
              </div>
              <div class="courses__content-img-box__time">
                Навчання - <span>20 год</span>
              </div>
            </div>

            <div class="courses__content-img-box__price">Ціна - 40$</div>
          </div>

          <h5 class="courses__content-item__title">Мистецтво ароматерапії</h5>
          <p class="courses__content-item__text">
            Будем вивчати мистецтво ароматерапії та виготовлення свічок з
            різними ароматами.
          </p>

          <button class="btn btn__orange btn__courses-cta">Купити курс</button>
        </div>
      </div>
    </div>
  </div>
</section>
