<section class="faq section__margin-bottom">
  <div class="container">
    <div class="faq__inner section__inner">
      <div class="faq__desc section__desc">
        <h3 class="faq__title section__title">Часті запитання</h3>
      </div>

      <div class="faq__content">
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Які запахи доступні для свічок?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Як довго горять свічки?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Чи можна зробити замовлення на індивідуальний дизайн свічки?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Які є варіанти доставки?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Як оплачувати замовлення?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Як довго триває курс?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Яка ціна на курс?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="faq__content-item">
          <div class="faq__content-item__question">
            Чи є сертифікат на курс?
          </div>

          <div class="faq__content-item__answer">
            <div class="faq__content-item__answer-inner">
              <ol class="faq__content-item__answer-list">
                <li class="faq__content-item__answer-list-item">
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про
                  домашній затишок.
                </li>

                <li class="faq__content-item__answer-list-item">
                  Лаванда - приємний, успокійливий і релаксуючий запах, який
                  допомагає зняти стрес і напругу.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат,
                  який допомагає підняти настрій і збадьорити.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Кедр - деревний, земний і маскулінний аромат, який надає
                  відчуття стабільності і надійності.
                </li>
                <li class="faq__content-item__answer-list-item">
                  Яблуко і кориця - теплий і затишний аромат, який нагадує про
                  зимові свята і домашність.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
