<section class="products section__margin-bottom">
  <div class="container">
    <div class="products__inner section__inner">
      <div class="section__desc products__desc">
        <h3 class="section__title products__title">Наші товари</h3>
        <p class="products__desc-text">
          Ми використовуємо тільки найкращі якісні матеріали: соєвий віск,
          віскові барвники, високоякісні ароматичні олії та бавовняні фітільці.
          Відтінки свічок дуже гармонійно поєднуються з ароматом, створюючи
          незабутню атмосферу у вашому домі.
        </p>
      </div>

      <div class="section__content products__content section__decor">
        <div class="products__item">
          <picture class="products__item-picture">
            <source
              type="image/avif"
              srcset="
                ../images/products__img-01@1x.avif 1x,
                ../images/products__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/products__img-01@1x.webp 1x,
                ../images/products__img-01@2x.webp 2x
              "
            />
            <img
              class="products__item-img"
              src="../images/products__img-01@1x.jpg"
              srcset="../images/products__img-01@2x.jpg 2x"
              alt="product img"
            />
          </picture>
          <div class="products__item-price">10$</div>
          <h5 class="products__item-title">"Сердечко кохання"</h5>
          <div class="products__item-desc">
            <p class="products__item-text">
              Запах: ніжний аромат троянди та ванілі.
            </p>
            <p class="products__item-text">
              Для чого: для атмосфери романтичного настрою
            </p>
          </div>
          <button class="btn btn__orange btn__products-cta">Купити</button>
        </div>
        <div class="products__item">
          <picture class="products__item-picture">
            <source
              type="image/avif"
              srcset="
                ../images/products__img-02@1x.avif 1x,
                ../images/products__img-02@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/products__img-02@1x.webp 1x,
                ../images/products__img-02@2x.webp 2x
              "
            />
            <img
              class="products__item-img"
              src="../images/products__img-02@1x.jpg"
              srcset="../images/products__img-02@2x.jpg 2x"
              alt="product img"
            />
          </picture>
          <div class="products__item-price">20$</div>
          <h5 class="products__item-title">"Вихір кохання"</h5>
          <div class="products__item-desc">
            <p class="products__item-text">Запах: ніжний аромат лаванди.</p>
            <p class="products__item-text">
              Для чого: для створення атмосфери затишку
            </p>
          </div>
          <button class="btn btn__orange btn__products-cta">Купити</button>
        </div>
        <div class="products__item">
          <picture class="products__item-picture">
            <source
              type="image/avif"
              srcset="
                ../images/products__img-03@1x.avif 1x,
                ../images/products__img-03@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/products__img-03@1x.webp 1x,
                ../images/products__img-03@2x.webp 2x
              "
            />
            <img
              class="products__item-img"
              src="../images/products__img-03@1x.jpg"
              srcset="../images/products__img-03@2x.jpg 2x"
              alt="product img"
            />
          </picture>
          <div class="products__item-price">10$</div>
          <h5 class="products__item-title">"Веселка"</h5>
          <div class="products__item-desc">
            <p class="products__item-text">Запах: Свіжий аромат лайма.</p>
            <p class="products__item-text">
              Для чого: для енергії та свіжості в приміщені.
            </p>
          </div>
          <button class="btn btn__orange btn__products-cta">Купити</button>
        </div>
        <div class="products__item">
          <picture class="products__item-picture">
            <source
              type="image/avif"
              srcset="
                ../images/products__img-04@1x.avif 1x,
                ../images/products__img-04@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/products__img-04@1x.webp 1x,
                ../images/products__img-04@2x.webp 2x
              "
            />
            <img
              class="products__item-img"
              src="../images/products__img-04@1x.jpg"
              srcset="../images/products__img-04@2x.jpg 2x"
              alt="product img"
            />
          </picture>
          <div class="products__item-price">10$</div>
          <h5 class="products__item-title">"Жіноча чарівність"</h5>
          <div class="products__item-desc">
            <p class="products__item-text">
              Запах: ніжний аромат лаванди та фрезій.
            </p>
            <p class="products__item-text">
              Для чого: для затишку та комфорту.
            </p>
          </div>
          <button class="btn btn__orange btn__products-cta">Купити</button>
        </div>
      </div>
    </div>
  </div>
</section>
