<section class="steps section__margin-bottom">
  <div class="container">
    <div class="steps__inner section__inner">
      <div class="steps__desc section__desc">
        <h3 class="steps__title section__title">Етапи створення свічок</h3>
        <p class="steps__desc-text section__desc-text">
          Створення свічки із соєвого воску може складатися з наступних етапів:
        </p>
      </div>

      <ol class="steps__list section__content section__decor">
        <li class="steps__list-item steps__list-item--odd">
          <p class="steps__list-item__text">
            Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для
            свічки, ароматизатори, барвники та інші додаткові матеріали.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-01@1x.avif 1x,
                ../images/steps__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-01@1x.webp 1x,
                ../images/steps__img-01@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-01@1x.jpg"
              srcset="../images/steps__img-01@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>
        <li class="steps__list-item steps__list-item--odd">
          <p class="steps__list-item__text">
            Підготовка форми: вибір форми для свічки та підготовка її до
            наповнення воском.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-02@1x.avif 1x,
                ../images/steps__img-02@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-02@1x.webp 1x,
                ../images/steps__img-02@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-02@1x.jpg"
              srcset="../images/steps__img-02@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>

        <li class="steps__list-item steps__list-item--even">
          <p class="steps__list-item__text">
            Приготування воску: розплавлення соєвого воску у плавильному
            пристрої до потрібної температури. Додавання ароматизаторів та
            барвників за необхідності.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-03@1x.avif 1x,
                ../images/steps__img-03@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-03@1x.webp 1x,
                ../images/steps__img-03@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-03@1x.jpg"
              srcset="../images/steps__img-03@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>
        <li class="steps__list-item steps__list-item--even">
          <p class="steps__list-item__text">
            Підготовка фітіля: вставлення фітіля до форми та зафіксування його
            так, щоб він був рівномірно напружений.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-04@1x.avif 1x,
                ../images/steps__img-04@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-04@1x.webp 1x,
                ../images/steps__img-04@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-04@1x.jpg"
              srcset="../images/steps__img-04@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>

        <li class="steps__list-item steps__list-item--odd">
          <p class="steps__list-item__text">
            Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для
            свічки, ароматизатори, барвники та інші додаткові матеріали.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-05@1x.avif 1x,
                ../images/steps__img-05@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-05@1x.webp 1x,
                ../images/steps__img-05@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-05@1x.jpg"
              srcset="../images/steps__img-05@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>
        <li class="steps__list-item steps__list-item--odd">
          <p class="steps__list-item__text">
            Наповнення форми: воск налити до форми, поки вона не заповниться
            повністю. Чекати, доки він затвердіє.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-06@1x.avif 1x,
                ../images/steps__img-06@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-06@1x.webp 1x,
                ../images/steps__img-06@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-06@1x.jpg"
              srcset="../images/steps__img-06@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>

        <li class="steps__list-item steps__list-item--even">
          <p class="steps__list-item__text">
            Приготування воску: розплавлення соєвого воску у плавильному
            пристрої до потрібної температури. Додавання ароматизаторів та
            барвників за необхідності.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-07@1x.avif 1x,
                ../images/steps__img-07@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-07@1x.webp 1x,
                ../images/steps__img-07@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-07@1x.jpg"
              srcset="../images/steps__img-07@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>
        <li class="steps__list-item steps__list-item--even">
          <p class="steps__list-item__text">
            Підготовка фітіля: вставлення фітіля до форми та зафіксування його
            так, щоб він був рівномірно напружений.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-08@1x.avif 1x,
                ../images/steps__img-08@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-08@1x.webp 1x,
                ../images/steps__img-08@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-08@1x.jpg"
              srcset="../images/steps__img-08@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>

        <li class="steps__list-item steps__list-item--odd">
          <p class="steps__list-item__text">
            Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для
            свічки, ароматизатори, барвники та інші додаткові матеріали.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-09@1x.avif 1x,
                ../images/steps__img-09@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-09@1x.webp 1x,
                ../images/steps__img-09@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-09@1x.jpg"
              srcset="../images/steps__img-09@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>
        <li class="steps__list-item steps__list-item--odd">
          <p class="steps__list-item__text">
            Наповнення форми: воск налити до форми, поки вона не заповниться
            повністю. Чекати, доки він затвердіє.
          </p>
          <picture class="steps__list-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/steps__img-10@1x.avif 1x,
                ../images/steps__img-10@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/steps__img-10@1x.webp 1x,
                ../images/steps__img-10@2x.webp 2x
              "
            />
            <img
              class="steps__list-item__img"
              src="../images/steps__img-10@1x.jpg"
              srcset="../images/steps__img-10@2x.jpg 2x"
              alt="steps img"
            />
          </picture>
        </li>
      </ol>
    </div>
  </div>
</section>
