<section class="team section__margin-bottom">
  <div class="container">
    <div class="team__inner section__inner">
      <div class="team__desc section__desc">
        <h3 class="team__title section__title">Наші викладачі</h3>
        <p class="team__desc-text section__desc-text">
          Ці люди працюють разом, щоб створювати курси для вас, які допоможуть
          вам почати власний бізнес або хоббі.
        </p>
      </div>

      <div class="team__content section__content">
        <div class="team__content-item">
          <picture class="team__content-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/team__img-01@1x.avif 1x,
                ../images/team__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/team__img-01@1x.webp 1x,
                ../images/team__img-01@2x.webp 2x
              "
            />
            <img
              class="team__content-item__img"
              src="../images/team__img-01@1x.jpg"
              srcset="../images/team__img-01@2x.jpg 2x"
              alt="team img"
            />
          </picture>

          <div class="team__content-item__box">
            <div class="team__content-item__name">Викладач Богдан</div>
            <div class="team__content-item__text">
              Має досвід викладання і роботи 4 роки
            </div>
          </div>
        </div>
        <div class="team__content-item">
          <picture class="team__content-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/team__img-02@1x.avif 1x,
                ../images/team__img-02@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/team__img-02@1x.webp 1x,
                ../images/team__img-02@2x.webp 2x
              "
            />
            <img
              class="team__content-item__img"
              src="../images/team__img-02@1x.jpg"
              srcset="../images/team__img-02@2x.jpg 2x"
              alt="team img"
            />
          </picture>

          <div class="team__content-item__box">
            <div class="team__content-item__name">Викладач Анна</div>
            <div class="team__content-item__text">
              Має досвід викладання і роботи 6 років
            </div>
          </div>
        </div>
        <div class="team__content-item">
          <picture class="team__content-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/team__img-03@1x.avif 1x,
                ../images/team__img-03@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/team__img-03@1x.webp 1x,
                ../images/team__img-03@2x.webp 2x
              "
            />
            <img
              class="team__content-item__img"
              src="../images/team__img-03@1x.jpg"
              srcset="../images/team__img-03@2x.jpg 2x"
              alt="team img"
            />
          </picture>

          <div class="team__content-item__box">
            <div class="team__content-item__name">Викладач  Галина</div>
            <div class="team__content-item__text">
              Навчає сфері дизайну та декорування
            </div>
          </div>
        </div>
        <div class="team__content-item">
          <picture class="team__content-item__picture">
            <source
              type="image/avif"
              srcset="
                ../images/team__img-04@1x.avif 1x,
                ../images/team__img-04@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/team__img-04@1x.webp 1x,
                ../images/team__img-04@2x.webp 2x
              "
            />
            <img
              class="team__content-item__img"
              src="../images/team__img-04@1x.jpg"
              srcset="../images/team__img-04@2x.jpg 2x"
              alt="team img"
            />
          </picture>

          <div class="team__content-item__box">
            <div class="team__content-item__name">Маркетолог  Ольга</div>
            <div class="team__content-item__text">Допоможе вам з рекламою</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
