* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit; }

input, button {
  outline: 0;
  font-family: inherit;
  font-size: inherit; }

button {
  background: none;
  border: none; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: "Poppins", sans-serif;
  color: #323232; }

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 10px; }

.section__title {
  color: inherit;
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0.8px; }

.nav {
  padding: 35px 0; }
  .nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav__logo_text {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav__list_item + .nav__list_item {
      margin-left: 42px; }
    .nav__list_link {
      color: #323232;
      line-height: 24px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .nav__list_link:hover {
        color: #F78434; }
      .nav__list_link.active {
        color: #F78434;
        font-weight: 700; }

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 65%;
  z-index: 2; }
  .hero__content_title {
    font-size: 54px;
    line-height: 79px;
    margin-bottom: 25px; }
  .hero__content_description {
    max-width: 470px;
    margin-bottom: 42px; }
  .hero__content_form {
    max-width: 470px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12); }
    .hero__content_form_label {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 16px 20px 16px 72px;
      position: relative;
      cursor: pointer; }
      .hero__content_form_label::before {
        content: '';
        display: block;
        background-image: url(../img/icon-envelope.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 19px;
        position: absolute;
        top: 50%;
        left: 30px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .hero__content_form_input {
      border: none;
      width: 100%; }
      .hero__content_form_input::-webkit-input-placeholder {
        color: #BBBBBB; }
      .hero__content_form_input:-ms-input-placeholder {
        color: #BBBBBB; }
      .hero__content_form_input::-ms-input-placeholder {
        color: #BBBBBB; }
      .hero__content_form_input::placeholder {
        color: #BBBBBB; }
  .hero__content .form__active {
    -webkit-box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.4);
    box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.4);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.hero__img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
  width: 50%;
  margin-left: -10%;
  z-index: 1; }
  .hero__img_image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.btn {
  display: inline-block;
  font-weight: 700;
  padding: 18px 36px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.btn__orange {
  background-color: #F78434;
  color: #fff; }
  .btn__orange:hover {
    background-color: #ef6709; }
  .btn__orange:active {
    -webkit-transform: scale(0.95) translateZ(0);
    transform: scale(0.95) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.partners {
  padding: 100px 0 90px; }
  .partners__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.features {
  margin-bottom: 100px; }
  .features__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden; }
  .features__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .features__images_item {
      position: relative; }
      .features__images_item:nth-child(2)_img {
        border-radius: 20px 20px 0px 20px; }
      .features__images_item_img {
        -o-object-fit: cover;
        object-fit: cover;
        width: auto;
        height: 100%;
        border-radius: 20px; }
      .features__images_item__info {
        background-color: #fff;
        -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
        box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        padding: 30px;
        max-width: 300px;
        position: absolute;
        right: -50px;
        bottom: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .features__images_item__info .features__icon {
          background-color: rgba(88, 190, 191, 0.2);
          width: 45px;
          height: 45px;
          margin-right: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%; }
    .features__images_item + .features__images_item {
      margin-left: 30px; }
  .features__content {
    max-width: 375px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 170px; }
    .features__content_title, .features__content_text {
      margin-bottom: 20px; }
    .features__content .btn {
      margin-top: 40px; }
