* {
    box-sizing: border-box;
}

body {
    color: #505050;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.section__title {
    color: #4E5665;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}


.header__top {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    height: 100vh;
    padding: 40px;
}

.header__top-inner {
    height: 100%;
    border: 2px solid #ECB84C;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-weight: 700;
    font-size: 220px;
    line-height: 250px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.header__subtitle {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: -12px;
}

.header__subtitle::before,
.header__subtitle::after {
    content: '';
    width: 100%;
    border-top: 2px solid #ECB84C;
}

.header__subtitle::before {
    margin-right: 30px;
}

.header__subtitle::after {
    margin-left: 30px;
}

.menu {
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list-item+.menu__list-item {
    margin-left: 13px;
}

.menu__list-link {
    height: 100%;
    color: #909090;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 24px 10px 20px;
    display: inline-flex;
    align-items: center;
    border-bottom: 4px solid transparent;
}

.menu__list-link:hover,
.menu__list-link.active {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
}


.appealing {
    max-width: 1170px;
    padding: 80px 0;
    margin: 0 auto;
    border-bottom: 1px solid #D0D4D8;
}

.appealing__title {
    margin-bottom: 22px;
}

.appealing__read-more {
    color: #ECB84C;
    font-weight: 700;
    display: block;
    text-align: right;
    margin-bottom: 36px;
}

.appealing__read-more:hover {
    margin-right: -8px;
}

.appealing__stats {
    display: flex;
    justify-content: space-around;
}

.appealing__stats-item {
    text-align: center;
}

.appealing__stats-image--box {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.appealing__stats-num {
    color: #4E5665;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 1px;
}

.appealing__stats-text {
    color: #909090;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}


.about {
    padding: 80px 0;
}

.about__title {
    margin-bottom: 13px;
}

.about__desc {
    margin-bottom: 72px;
}


.about__info {
    min-height: 428px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.about__info-reverse {
    justify-content: flex-end;
}

.about__info-inheritance {
    background-image: url(../images/about__info-inheritance-bg.jpg);
    background-position: right top;
    margin-bottom: 100px;
}

.about__info-beaches {
    background-image: url(../images/about__info-beaches-bg.jpg);
    background-position: left top;
}

.about__info-content {
    background-color: #FFF;
    max-width: 470px;
    padding: 33px 40px;
    position: relative;
}

.about__info-title {
    color: #4E5665;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 20px;
}

.about__info-content::before,
.about__info-content::after,
.about__info-content-reverse--borders::before,
.about__info-content--reverse::after {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
}

.about__info-content--borders::before {
    border-top: 2px solid #ECB84C;
    border-left: 2px solid #ECB84C;
    left: 20px;
    top: 15px;
}

.about__info-content--borders::after {
    border-bottom: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    right: 20px;
    bottom: 20px;
}

.about__info-content-reverse--borders::before {
    border: none;
    border-bottom: 2px solid #ECB84C;
    border-left: 2px solid #ECB84C;
    left: 20px;
    bottom: 20px;
}

.about__info-content-reverse--borders::after {
    border: none;
    border-top: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    right: 20px;
    top: 20px;
}