* {
    box-sizing: border-box;
}

body {
    color: #888888;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}

.container {
    max-width: 1234px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    text-align: center;
}

.logo__link {
    display: block;
}

.header {
    text-align: center;
}

.header .logo {
    margin: 88px 0 60px;
}

.menu {
    border-top: 2px solid #c4c4c4;
}

.menu__list {
    display: flex;
    justify-content: center;
}

.menu__list-item {
    max-width: 300px;
    width: 100%;
    border-right: 2px solid #c4c4c4;
}

.menu__list-item:first-child {
    border-left: 2px solid #c4c4c4;
}

.menu__list-link {
    padding: 34px 15px 38px;
    display: block;
}

.menu__list-link:hover,
.menu__list-link--active {
    background-color: #020202;
    color: #FFF;
}

.slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 600px;
}

.slick-arrow {
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slick-prev {
    left: 20px;
    z-index: 5;
}

.slick-next {
    right: 20px;
}