.choose-car {
  &__tabs {
    &-headings {
      display: flex;
      justify-content: center;
      gap: 80px;
      margin-bottom: 100px;

      &-item {
        cursor: pointer;

        &.active {
          color: $color-blue;
        }
      }
    }

    &-body {
      margin-bottom: 70px;

      &-item {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 100px 40px;

        &.active {
          display: grid;
        }
      }

      &__title,
      &__text {
        margin-bottom: 20px;
      }

      &__link {
        color: $color-blue;
        display: block;
        text-align: center;
        padding: 2px 10px;
        border: 1px solid $color-blue;
        border-top: 0;
      }
    }

    &-card {
      &__img {
        display: block;
      }

      &__content {
        padding: 20px 10px;
        text-align: center;
        border: 1px solid $color-blue;
        border-top: 0;
      }
    }
  }

  &__show-more {
    text-align: center;
  }
}
