.header {
  background-color: $color-black;
  color: $color-white;

  &__home {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav {
    &__menu {
      display: flex;
      gap: 35px;

      &-item {
        font-weight: 700;
        text-transform: uppercase;
      }

      &-link {
        transition: color .3s;
        
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}
