.why-lease {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    &-item {
      text-align: center;

      &__img,
      &__title {
        margin-bottom: 30px;
      }

      &__text {
        text-align: left;
      }
    }
  }
}