html {
    box-sizing: border-box;
}

*,
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    color: #1b1818;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;;
}

.header {
    background-color: #332208;
    color: #fefefe;
}

.header__wrapper {
    height: 100px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    display: flex;
    text-transform: uppercase;
}

.menu_list .menu_list_item + .menu_list_item{
    margin-left: 30px;
}

.menu_link,
.phone_link {
    color: #fff;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}

.menu_link:hover,
.phone_link:hover,
.menu_link.active {
    border-bottom: 1px solid #fff;
}


.featured {
    padding-bottom: 100px;
}

.featured__wrapper {
    display: flex;
}

.featured__left, 
.featured__right {
    /* flex: 1; - slick carousel behaved strangely, hence used width*/
    width: 50%;

}

.featured__left {
    padding: 120px 50px 0 0;
    text-align: center;
}

.featured__right {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured__cta {
    margin: 0 0 105px;
}

.featured__cta_title {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
}

.featured__cta_desc {
    font-size: 24px;
    line-height: 28px;
    padding: 0 35px;
    margin-bottom: 60px;
}

.btn {
    background-color: #C5AC2D;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
    display: inline-block;
}

.btn__download {
    padding: 16px 18px;
}

.btn:hover {
    box-shadow: 4px 4px 0px rgba(195, 170, 44, .5);
}

.btn:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 2px rgba(195, 170, 44, .5);
    backface-visibility: hidden;
}

.featured__offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured__offers_item {
    margin-right: 50px;
    padding: 10px;
    border: 1px solid #222;
    width: 150px;
    height: 150px;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s;
    cursor: pointer;
}

.featured__offers_item:hover {
    transform: scale(1.25);
}

.featured__offers_item:last-child {
    margin-right: 0;
}

.featured__offer_img {
    display: inline-block;
    margin: 10px 0;
}

.featured__slider {
    width: 100%;
    position: relative;
}

.featured__slider__info_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured__slider__info_list_item {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.featured__slider__info_list_item + .featured__slider__info_list_item {
    margin-left: 14px;
}

.featured__slider .slick-dots {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

.slick-dots {
    list-style: none;
}

.slick-dots button {
    background-color: #332208;
    font-size: 0;
    width: 8px;
    height: 8px;
    padding: 0;
    display: inline-block;
    border: none;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
}

.featured__docs_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.featured__docs_list_item {
    margin-right: 20px;
}

.featured__docs_list_item:last-child {
    margin-right: 0;
}

.featured__docs__link {
    color: #1B1818;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #1b1818;
    transition: all .3s;
}

.featured__docs__link:hover {
    border-bottom: 1px solid transparent;
}


.rent_terms {
    padding: 100px 0;
}

.rent_terms__wrapper {
    display: flex;
}

.rent_terms__desc {
    width: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.rent_terms__desc_title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}

.rent_terms__desc_text {
    margin-bottom: 20px;
}

.rent_terms__desc_text:last-child {
    margin-bottom: 40px;
}

.rent_terms__desc .btn__download {
    align-self: flex-start;
    margin-top: auto;
}

.rent_terms__item {
    flex-grow: 1;
    text-align: center;
    width: calc(25% - 50px);
    min-height: 350px;
    margin-left: 50px;
    padding: 0 30px 25px;
    border: 1px solid #332208;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rent_terms__item_num,
.rent_terms__item_title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.rent_terms__item_num {
    font-size: 96px;
    line-height: 115px;
    opacity: .05;
}

.rent_terms__item_title {
    font-size: 18px;
    line-height: 21px;
}

.rent_terms__item_text {
    margin-top: auto;
}


.benefits {
    padding: 100px 0;
}

.benefits__title {
    color: #1B1818;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}

.benefits__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits__list {
    flex: 1;
    list-style: none;
}

.benefits__list_item {
    text-align: right;
    margin-bottom: 27px;
}

.benefits__list_item::after {
    content: '';
    background-color: #332208;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    border-radius: 50%;
    position: relative;
    top: 2px;
}

.benefits__list_item:nth-child(1),
.benefits__list_item:nth-child(7) {
    margin-right: 10px;
}

.benefits__list_item:nth-child(2),
.benefits__list_item:nth-child(6) {
    margin-right: 60px;
}

.benefits__list_item:nth-child(3),
.benefits__list_item:nth-child(5) {
    margin-right: 110px;
}

.benefits__list_item:nth-child(4) {
    margin-right: auto;
    display: inline-block;
}

.benefits__img {
    flex: 2;
}

.benefits__desc {
    flex: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.benefits__desc_text {
    margin-bottom: 30px;
}

.btn__watch_presentation {
    width: 200px;
    padding: 6px 34px 6px 64px;
    text-align: left;
    position: relative;
}

.btn__watch_presentation::before {
    content: '';
    display: block;
    background-image: url(../images/icon_play.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
}