body {
    font-family: "Poppins", sans-serif;
    color: $color-base;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.section__title {
    color: inherit;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0.8px;
}