@media (max-width: 1240px) {
  .title__inner {
    font-size: 180px;
  }
  .title__inner--1 {
    top: 123px;
  }
  .title__inner--2 {
    top: 123px;
    left: 276px;
  }

  .title__inner--3 {
    top: 123px;
    right: unset;
    left: 620px;
  }

  .title__inner--4 {
    top: 426px;
    right: 265px;
  }

  .title__inner--5 {
    top: 426px;
    z-index: 10;
  }
}

@media (max-width: 960px) {
  .title {
    text-align: center;
  }

  .title__inner {
    font-size: 100px;
    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
  }

  .color-options__list {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
  }

  .color-options__list-item {
    flex: 1;
    padding: 15px 20px;
  }
}

@media (max-width: 768px) {
  .nav {
    gap: 30px;
  }

  .nav__hamburger {
    display: flex;
  }

  .nav__list {
    background-color: #fff;
    padding: 30px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 100px;
    right: 15px;
    z-index: 15;
  }

  .title__inner {
    font-size: 72px;
  }

  .section__title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .color-options {
    padding: 30px 0;
  }

  .color-options__desc {
    margin: 0 auto 30px;
  }

  .composition {
    padding: 50px 0 30px;
  }

  .composition__desc {
    max-width: 100%;
    margin: 0 auto 30px;
  }

  .composition__inner {
    max-width: 100%;
  }

  .composition__inner-left {
    width: unset;
    flex: 1;
  }

  .composition__inner-right {
    flex: 1;
    text-align: right;
  }

  .smart-case {
    padding: 30px 0;
    margin: 50px 0 0;
  }

  .battery-duration {
    padding: 30px 0 50px;
  }

  .battery-duration__number {
    font-size: 120px;
    margin-bottom: 20px;
  }

  .cta__inner {
    max-width: 80%;
    width: 100%;
  }

  .footer__nav-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 540px) {
  .title {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  .title__inner {
    font-size: 48px;
  }

  .color-options__list-item {
    flex: auto;
  }

  .composition__desc {
    text-align: left;
  }

  .composition__inner {
    flex-direction: column;
  }

  .composition__inner-right {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header__top {
    margin-bottom: 200px;
  }
}

@media (max-width: 375px) {
  .title__inner {
    font-size: 40px;
  }
}
