<section class="characteristics section__pt" id="characteristics">
  <div class="container">
    <h4 class="characteristics__title">Характеристики</h4>
    <div class="characteristics__inner">
      <ul class="characteristics__list">
        <li class="characteristics__list-item">
          <h5 class="characteristics__list-item__title">Общие</h5>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Производитель
            </div>
            <div class="characteristics__list-item__text">
              Xiaomi
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Вид
            </div>
            <div class="characteristics__list-item__text">
              взрослый, дорожный, городской, электровелосипед, алюминиевая рама
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Колеса
            </div>
            <div class="characteristics__list-item__text">
              26, двойной алюминиевый обод
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Электропривод
            </div>
            <div class="characteristics__list-item__text">
              мотор 250W, разгон до 25 км/ч
            </div>
          </div>
        </li>
        
        <li class="characteristics__list-item">
          <h5 class="characteristics__list-item__title">амортизация</h5>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Тип амортизации
            </div>
            <div class="characteristics__list-item__text">
              амортизирующая вилка (Hard tail)
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Вилка
            </div>
            <div class="characteristics__list-item__text">
              пружинно-эластомерная
            </div>
          </div>
        </li>
        
        <li class="characteristics__list-item">
          <h5 class="characteristics__list-item__title">характеристика трансмиссии</h5>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Количество скоростей
            </div>
            <div class="characteristics__list-item__text">
              7
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Педали
            </div>
            <div class="characteristics__list-item__text">
              классические
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Передний переключатель
            </div>
            <div class="characteristics__list-item__text">
              1 звезда
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Задний переключатель
            </div>
            <div class="characteristics__list-item__text">
              Shimano Tourney (прогулочный)
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Кассета
            </div>
            <div class="characteristics__list-item__text">
              7 звезд
            </div>
          </div>
        </li>
        
        <li class="characteristics__list-item">
          <h5 class="characteristics__list-item__title">тормоза</h5>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Передний
            </div>
            <div class="characteristics__list-item__text">
              дисковый механический
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Задний
            </div>
            <div class="characteristics__list-item__text">
              дисковый механический
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Готовность к установке дисковых
            </div>
            <div class="characteristics__list-item__text">
              рама, вилка, втулка 
            </div>
          </div>
        </li>
        
        <li class="characteristics__list-item">
          <h5 class="characteristics__list-item__title">прочее</h5>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Оснащение
            </div>
            <div class="characteristics__list-item__text">
              электрооборудование, звонок
            </div>
          </div>
          <div class="characteristics__list-item__info">
            <div class="characteristics__list-item__text">
              Вес
            </div>
            <div class="characteristics__list-item__text">
              25 кг
            </div>
          </div>
        </li>
      </ul>
      <div class="characteristics__img-wrapper">
        <picture class="characteristics__picture">
          <source
            type="image/avif"
            srcset="../images/characteristics-img-01@1x.avif 1x, ../images/characteristics-img-01@2x.avif 2x"
          />
          <source
            type="image/webp"
            srcset="../images/characteristics-img-01@1x.webp 1x, ../images/characteristics-img-01@2x.webp 2x"
          />
          <img
            class="characteristics__img"
            src="../images/characteristics-img-01@1x.jpg"
            srcset="../images/characteristics-img-01@2x.jpg 2x"
            alt="characteristics-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
