  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <a class="footer__privacy" href="#">
          Политика конфиденциальности
        </a>

        <ul class="footer__social-media-list">
          <li class="footer__social-media-list__item">
            <a class="footer__social-media-list__link" href="https://instagram.com">
              <img class="footer__social-media-list__icon" src="../images/icon-instagram.svg" alt="icon-instagram">
            </a>
          </li>
          <li class="footer__social-media-list__item">
            <a class="footer__social-media-list__link" href="https://facebook.com">
              <img class="footer__social-media-list__icon" src="../images/icon-facebook.svg" alt="icon-facebook">
            </a>
          </li>
        </ul>

        <ul class="footer__contacts-list">
          <li class="footer__contacts-list__item">
            <a class="footer__contacts-list__link" href="tel:+380506777777">
              <img  class="footer__contacts-list__icon" src="../images/icon-phone.svg" alt="icon-phone">
              +38 050 677 77 77
            </a>
          </li>
          <li class="footer__contacts-list__item">
            <a class="footer__contacts-list__link" href="mailto:elektrobikeukr@gmail.com">
              <img  class="footer__contacts-list__icon" src="../images/icon-envelope.svg" alt="icon-envelope">
              elektrobikeukr@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="script/main.min.js"></script>
  </body>
</html>
