<section class="hero section__mb">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__left">
        <h1 class="hero__title">Xiaomi Himo C26</h1>
        <div class="hero__subtitle">Электрический велосипед</div>

        <p class="hero__text">
          Полная свобода передвижения и надежный транспорт для путешествий на
          любые расстояния
        </p>
        <p class="hero__text">
          HIMO C26 – это новый электровелосипед от Xiaomi, который создан как
          для езды по городу, так и бездорожью. Он имеет мощный двигатель и
          емкий аккумулятор, благодаря которым способен проезжать на одном
          заряде до 100 км, что определенно выше, чем у большинства
          конкурентов. А большие колеса с пневматическими шинами, дисковые
          тормоза, 7-скоростная трансмиссия и эргономичное сидение делают
          каждую поездку гораздо приятнее.
        </p>

        <button class="btn btn__cta">Заказать</button>
      </div>

      <div class="hero__right">
        <div class="hero__slider">
          <div class="hero__slider-item">
            <picture class="hero__slider-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/bike-01@1x.avif 1x,
                  ../images/bike-01@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/bike-01@1x.webp 1x,
                  ../images/bike-01@2x.webp 2x
                "
              />
              <img
                class="hero__slider-img"
                src="../images/bike-01@1x.jpg"
                srcset="../images/bike-01@2x.jpg 2x"
                alt="bike"
              />
            </picture>
          </div>
          <div class="hero__slider-item">
            <picture class="hero__slider-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/bike-02@1x.avif 1x,
                  ../images/bike-02@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/bike-02@1x.webp 1x,
                  ../images/bike-02@2x.webp 2x
                "
              />
              <img
                class="hero__slider-img"
                src="../images/bike-02@1x.jpg"
                srcset="../images/bike-02@2x.jpg 2x"
                alt="bike"
              />
            </picture>
          </div>
          <div class="hero__slider-item">
            <picture class="hero__slider-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/bike-03@1x.avif 1x,
                  ../images/bike-03@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/bike-03@1x.webp 1x,
                  ../images/bike-03@2x.webp 2x
                "
              />
              <img
                class="hero__slider-img"
                src="../images/bike-03@1x.jpg"
                srcset="../images/bike-03@2x.jpg 2x"
                alt="bike"
              />
            </picture>
          </div>
          <div class="hero__slider-item">
            <picture class="hero__slider-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/bike-04@1x.avif 1x,
                  ../images/bike-04@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/bike-04@1x.webp 1x,
                  ../images/bike-04@2x.webp 2x
                "
              />
              <img
                class="hero__slider-img"
                src="../images/bike-04@1x.jpg"
                srcset="../images/bike-04@2x.jpg 2x"
                alt="bike"
              />
            </picture>
          </div>
          <div class="hero__slider-item">
            <picture class="hero__slider-picture">
              <source
                type="image/avif"
                srcset="
                  ../images/bike-05@1x.avif 1x,
                  ../images/bike-05@2x.avif 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ../images/bike-05@1x.webp 1x,
                  ../images/bike-05@2x.webp 2x
                "
              />
              <img
                class="hero__slider-img"
                src="../images/bike-05@1x.jpg"
                srcset="../images/bike-05@2x.jpg 2x"
                alt="bike"
              />
            </picture>
          </div>
        </div> <!-- end of slider-->

        <div class="hero__features">
          <ul class="hero__features-list">
            <li class="hero__features-item">
              <div class="hero__features-highlight">до 100км</div>
              <div class="hero__features-subtext">запас хода</div>
            </li>
            <li class="hero__features-item">
              <div class="hero__features-highlight">25 км/ч</div>
              <div class="hero__features-subtext">макс скорость</div>
            </li>
            <li class="hero__features-item">
              <div class="hero__features-highlight">3 режима езды</div>
              <div class="hero__features-subtext">механический, гибридный, <br />электрический</div>
            </li>
            <li class="hero__features-item">
              <div class="hero__features-highlight">25 кг</div>
              <div class="hero__features-subtext">вес</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>