<div class="product-images section__pt">
  <div class="container">
    <div class="product-images__slider">
      <div class="product-images__slider-item">
        <picture class="product-images__slider-picture">
          <source
            type="image/avif"
            srcset="
              ../images/product-img-01-@1x.avif 1x,
              ../images/product-img-01-@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/product-img-01-@1x.webp 1x,
              ../images/product-img-01-@2x.webp 2x
            "
          />
          <img
            class="product-images__slider-img"
            src="../images/product-img-01-@1x.jpg"
            srcset="../images/product-img-01@2x.jpg 2x"
            alt="product-img"
          />
        </picture>
      </div>

      <div class="product-images__slider-item">
        <picture class="product-images__slider-picture">
          <source 
            type="image/avif"
            srcset="
              ../images/product-img-02-@1x.avif 1x,
              ../images/product-img-02-@2x.avif 2x
            "
          />

          <source 
            type="image/webp"
            srcset="
              ../images/product-img-02-@1x.webp 1x,
              ../images/product-img-02-@2x.webp 2x
            "
          />

          <img 
            class="product-images__slider-img"
            src="../images/product-img-02-@1x.jpg"
            srcset="../images/product-img-02-@2x.jpg 2x"
            alt="product-img"
          />
        </picture>
      </div>
      
      <div class="product-images__slider-item">
        <picture class="product-images__slider-picture">
          <source 
            type="image/avif"
            srcset="
              ../images/product-img-03-@1x.avif 1x,
              ../images/product-img-03-@2x.avif 2x
            "
          />

          <source 
            type="image/webp"
            srcset="
              ../images/product-img-03-@1x.webp 1x,
              ../images/product-img-03-@2x.webp 2x
            "
          />

          <img 
            class="product-images__slider-img"
            src="../images/product-img-03-@1x.jpg"
            srcset="../images/product-img-03-@2x.jpg 2x"
            alt="product-img"
          />
        </picture>
      </div>
    </div>
  </div>
</div>