@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");

:root {
  --textFont: "Open Sans", sans-serif;
  --titleFont: "Cormorant", serif;
  --mainTextColor: #151618;
  --colorWhite: #ffffff;
  --colorLightBeige: #f7f2ea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainTextColor);
  font-family: var(--textFont);
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 77.5rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 9.375rem;
}

.section__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 3.75rem;
}

.btn {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

.header {
  margin: 1.875rem 0;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header__inner {
  min-height: 8.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  margin-bottom: 2.25rem;
}

.header__nav {
  margin-right: 10rem;
  margin-left: auto;
}

.nav__hamburger {
  width: 2.5rem;
  height: 1.125rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.nav__mobile {
  background-color: var(--colorWhite);
  padding: 3.75rem 0 0;
  max-width: 100%;
  margin: 0 3.75rem;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.btn__close-nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.nav__mobile-list {
  color: rgb(0, 0, 0);
  font-family: var(--titleFont);
  font-size: 2.4rem;
}

.nav__mobile-list__item {
  margin-bottom: 2rem;
}

.nav__mobile-list__about {
  margin-top: 4.8rem;
  padding: 4.8rem 2rem;
  border-top: 2px solid var(--colorLightBeige);
}

.nav__mobile-list__about-item {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.nav__mobile-list__about-item:last-child {
  margin-bottom: 0;
}

.nav__mobile-list__user-actions {
  background-color: var(--colorLightBeige);
  padding: 2rem;
  display: flex;
  gap: 7rem;
  justify-content: center;
}

.nav__hamburger-item {
  background-color: var(--mainTextColor);
  width: 100%;
  height: 2px;
}

.nav__list {
  font-size: 1.125rem;
  display: flex;
  gap: 1rem 4rem;
}

.user-actions__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem 1.25rem;
}

.user-actions__item-search {
  margin-left: 5rem;
}

.hero {
  background-image: url(../images/hero__bg.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--colorWhite);
  min-height: 31.25rem;
  position: relative;
}

.hero__inner {
  position: absolute;
  bottom: 3rem;
}

.hero__title {
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 1.25rem;
  max-width: 50rem;
}

.hero__desc {
  font-family: var(--titleFont);
  font-size: 1.5rem;
  max-width: 35rem;
}

.blockquote__text {
  font-family: var(--titleFont);
  font-weight: 300;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  max-width: 44rem;
  margin: 0 auto;
}

.blockquote__text--bg-decor {
  position: relative;
}

.blockquote__text--bg-decor::after {
  content: "";
  background-color: rgba(247, 241, 232, 0.5);
  width: 22.5rem;
  height: 3.75rem;
  position: absolute;
  bottom: -1rem;
  left: -0.3rem;
  z-index: -1;
}

.collection__list {
  text-align: center;
  display: flex;
  gap: 0 2.5rem;
}

.collection__img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.625rem;
}

.collection__name {
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .section {
    margin-bottom: 7.5rem;
  }

  .header__inner {
    min-height: 6.5rem;
  }

  .header .logo {
    margin-bottom: 0;
  }

  .header__nav {
    margin-right: 7.25rem;
  }

  .user-actions__item-search {
    margin-left: 3.125rem;
  }

  .collection__title {
    margin-bottom: 1.875rem;
  }

  .collection__list {
    gap: 0;
  }
}

@media (max-width: 920px) {
  .header__nav {
    margin-right: 4rem;
  }

  .nav__list {
    gap: 1rem 2rem;
  }

  .user-actions__item-search {
    margin-left: 2rem;
  }

  .blockquote__text--bg-decor::after {
    width: 17rem;
    left: 0;
  }
}

@media (max-width: 768px) {
  .overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .nav__mobile.active {
    transform: translateY(0);
  }

  .header__inner {
    position: relative;
    padding: 0 4rem;
  }

  .header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__nav {
    order: -1;
    margin: unset;
    display: none;
  }

  .nav__hamburger {
    display: flex;
  }

  .hero__inner {
    max-width: calc(100% - 3rem);
  }

  .collection__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 .375rem;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 10px;
  }

  .container {
    padding: 0 1rem;
  }

  .section {
    margin-bottom: 6rem;
  }

  .logo__img {
    width: 4rem;
    height: auto;
  }

  .blockquote__text {
    max-width: calc(100% - 3rem);
    font-size: 1.6rem;
  }

  .blockquote__text--bg-decor::after {
    width: 110%;
    height: 2.2rem;
    right: 8rem;
    bottom: 0rem;
  }

  .collection__name {
    font-size: 2.4rem;
  }
}

@media (max-width: 540px) {
  .nav__hamburger {
    height: 1.5rem;
  }

  .header {
    margin: 1rem 0;
  }

  .header__inner {
    padding: 0;
  }

  .hero {
    min-height: 50rem;
  }

  .hero__title {
    font-size: 4rem;
    line-height: 1.2;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .hero__desc {
    font-size: 2.4rem;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .collection__list {
    gap: 0;
  }

  .collection__img {
    max-width: 15rem;
  }
}

@media (max-width: 360px) {
  .section__title {
    font-size: 2.4rem;
  }

  .user-actions__item-search {
    margin-left: 0;
  }

  .hero {
    min-height: 37rem;
  }

  .hero__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .hero__desc {
    font-family: var(--textFont);
    font-weight: 300;
    font-size: 1.3rem;
  }

  .blockquote {
    margin: 7rem 0 8rem;
  }

  .collection__title {
    margin-bottom: 0;
  }
}
