<section class="accessories">
  <div class="container">
    <h3 class="section__title accessories__title">Accessories</h3>
    <div class="accessories__decor-text">Personalize every experience</div>

    <div class="accessories__inner">
      <div class="accessories__item">
        <picture class="accessories__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/accessories__img-01@1x.avif 1x,
              ../images/accessories__img-01@2x.avif
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/accessories__img-01@1x.webp 1x,
              ../images/accessories__img-01@2x.webp
            "
          />
          <img
            class="accessories__item-img"
            src="../images/accessories__img-01@1x.jpg"
            srcset="../images/accessories__img-01@2x.jpg 2x"
            alt="accessories img"
          />
        </picture>

        <h5 class="accessories__item-title">Meta Quest 2 Carrying Case</h5>
        <p class="accessories__item-text">
          Protect your system–at home or away.
        </p>
        <div class="accessories__item-price">$59.99 USD</div>
        <button class="btn btn__accessories-cta">Buy now</button>
      </div>
      <div class="accessories__item">
        <picture class="accessories__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/accessories__img-02@1x.avif 1x,
              ../images/accessories__img-02@2x.avif
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/accessories__img-02@1x.webp 1x,
              ../images/accessories__img-02@2x.webp
            "
          />
          <img
            class="accessories__item-img"
            src="../images/accessories__img-02@1x.jpg"
            srcset="../images/accessories__img-02@2x.jpg 2x"
            alt="accessories img"
          />
        </picture>

        <h5 class="accessories__item-title">Link Cable</h5>
        <p class="accessories__item-text">
          Harness the power of your PC with this premium fiber-optic cable.
        </p>
        <div class="accessories__item-price">$79.99 USD</div>
        <button class="btn btn__accessories-cta">Buy now</button>
      </div>
      <div class="accessories__item">
        <picture class="accessories__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/accessories__img-03@1x.avif 1x,
              ../images/accessories__img-03@2x.avif
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/accessories__img-03@1x.webp 1x,
              ../images/accessories__img-03@2x.webp
            "
          />
          <img
            class="accessories__item-img"
            src="../images/accessories__img-03@1x.jpg"
            srcset="../images/accessories__img-03@2x.jpg 2x"
            alt="accessories img"
          />
        </picture>

        <h5 class="accessories__item-title">Meta Quest 2 Active Pack</h5>
        <p class="accessories__item-text">
          A wipeable facial interface, wrist straps, and knuckle straps.
        </p>
        <div class="accessories__item-price">$69.99 USD</div>
        <button class="btn btn__accessories-cta">Buy now</button>
      </div>
      <div class="accessories__item">
        <picture class="accessories__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/accessories__img-04@1x.avif 1x,
              ../images/accessories__img-04@2x.avif
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/accessories__img-04@1x.webp 1x,
              ../images/accessories__img-04@2x.webp
            "
          />
          <img
            class="accessories__item-img"
            src="../images/accessories__img-04@1x.jpg"
            srcset="../images/accessories__img-04@2x.jpg 2x"
            alt="accessories img"
          />
        </picture>

        <h5 class="accessories__item-title">Meta Quest Gift Cards</h5>
        <p class="accessories__item-text">
          Redeemable on 350+ games and apps.
        </p>
        <div class="accessories__item-price">$15-50 USD</div>
        <button class="btn btn__accessories-cta">Buy now</button>
      </div>
    </div>
  </div>
</section>
