<section class="box-contents">
  <div class="container">
    <h3 class="section__title box-contents__title">In the Box</h3>
    <div class="box-contents__inner">
      <div class="box-contents__item box-contents__item--big">
        <picture class="box-contents__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/box-contents__img-01@1x.avif 1x,
              ../images/box-contents__img-01@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/box-contents__img-01@1x.webp 1x,
              ../images/box-contents__img-01@2x.webp 2x
            "
          />
          <img
            class="box-contents__item-img"
            src="../images/box-contents__img-01@1x.jpg"
            srcset="../images/box-contents__img-01@2x.jpg 2x"
            alt="box contents"
          />
        </picture>
        <div class="box-contents__item-name">
          VR Headset
        </div>
      </div>
      <div class="box-contents__item">
        <picture class="box-contents__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/box-contents__img-02@1x.avif 1x,
              ../images/box-contents__img-02@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/box-contents__img-02@1x.webp 1x,
              ../images/box-contents__img-02@2x.webp 2x
            "
          />
          <img
            class="box-contents__item-img"
            src="../images/box-contents__img-02@1x.jpg"
            srcset="../images/box-contents__img-02@2x.jpg 2x"
            alt="box contents"
          />
        </picture>
        <div class="box-contents__item-name">
          Two Touch Controllers & AA Batteries
        </div>
      </div>
      <div class="box-contents__item box-contents__item--text">
        <div class="box-contents__item-decor-text">
          What's included
        </div>
      </div>
      <div class="box-contents__item">
        <picture class="box-contents__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/box-contents__img-03@1x.avif 1x,
              ../images/box-contents__img-03@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/box-contents__img-03@1x.webp 1x,
              ../images/box-contents__img-03@2x.webp 2x
            "
          />
          <img
            class="box-contents__item-img"
            src="../images/box-contents__img-03@1x.jpg"
            srcset="../images/box-contents__img-03@2x.jpg 2x"
            alt="box contents"
          />
        </picture>
        <div class="box-contents__item-name">
          Charging Cable & Power Adapter
        </div>
      </div>
      <div class="box-contents__item">
        <picture class="box-contents__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/box-contents__img-04@1x.avif 1x,
              ../images/box-contents__img-04@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/box-contents__img-04@1x.webp 1x,
              ../images/box-contents__img-04@2x.webp 2x
            "
          />
          <img
            class="box-contents__item-img"
            src="../images/box-contents__img-04@1x.jpg"
            srcset="../images/box-contents__img-04@2x.jpg 2x"
            alt="box contents"
          />
        </picture>
        <div class="box-contents__item-name">
          Glasses Spacer
        </div>
      </div>
    </div>
  </div>
</section>
