<section class="features">
  <div class="container">
    <div class="features__top">
      <h3 class="section__title features__title">Product features</h3>

      <p class="features__top-text">Easy to set up and safe to use</p>
    </div>

    <div class="features__tabs">
      <div class="features__tabs-headings">
        <div class="features__tabs-headings-item active">01 Graphics</div>
        <div class="features__tabs-headings-item">02 Controls</div>
        <div class="features__tabs-headings-item">03 Processor</div>
        <div class="features__tabs-headings-item">04 Set up your play area</div>
        <div class="features__tabs-headings-item">05 Gardian activity</div>
        <div class="features__tabs-headings-item">06 Headset casting</div>
      </div>
      <div class="features__tabs-body">
        <div class="features__tabs-body-item active">
          <picture class="features__tabs-body-picture">
            <source
              type="image/avif"
              srcset="
                ../images/features__img-01@1x.avif 1x,
                ../images/features__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/features__img-01@1x.webp 1x,
                ../images/features__img-01@2x.webp 2x
              "
            />
            <img
              class="features__tabs-body-img"
              src="../images/features__img-01@1x.jpg"
              srcset="../images/features__img-01@2x.jpg 2x"
              alt="features img"
            />
          </picture>
          
          <div class="features__tabs-body-desc">
            <h5 class="features__tabs-body-desc__title">Graphics</h5>
            <p class="features__tabs-body-desc__text">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>

          <div class="features__tabs-body-video">
            <button class="btn features__tabs-body-video__play-btn">
              <img
                class="featuers__tabs-body-video__play-btn-img"
                src="../images/features__video-play-icon.svg"
                alt="play"
              />
              <span>Watch the video</span>
            </button>
          </div>
        </div>
        <div class="features__tabs-body-item">
          <picture class="features__tabs-body-picture">
            <source
              type="image/avif"
              srcset="
                ../images/features__img-01@1x.avif 1x,
                ../images/features__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/features__img-01@1x.webp 1x,
                ../images/features__img-01@2x.webp 2x
              "
            />
            <img
              class="features__tabs-body-img"
              src="../images/features__img-01@1x.jpg"
              srcset="../images/features__img-01@2x.jpg 2x"
              alt="features img"
            />
          </picture>
          
          <div class="features__tabs-body-desc">
            <h5 class="features__tabs-body-desc__title">Controls</h5>
            <p class="features__tabs-body-desc__text">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>

          <div class="features__tabs-body-video">
            <button class="btn features__tabs-body-video__play-btn">
              <img
                class="featuers__tabs-body-video__play-btn-img"
                src="../images/features__video-play-icon.svg"
                alt="play"
              />
              <span>Watch the video</span>
            </button>
          </div>
        </div>
        <div class="features__tabs-body-item">
          <picture class="features__tabs-body-picture">
            <source
              type="image/avif"
              srcset="
                ../images/features__img-01@1x.avif 1x,
                ../images/features__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/features__img-01@1x.webp 1x,
                ../images/features__img-01@2x.webp 2x
              "
            />
            <img
              class="features__tabs-body-img"
              src="../images/features__img-01@1x.jpg"
              srcset="../images/features__img-01@2x.jpg 2x"
              alt="features img"
            />
          </picture>
          
          <div class="features__tabs-body-desc">
            <h5 class="features__tabs-body-desc__title">Processor</h5>
            <p class="features__tabs-body-desc__text">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>

          <div class="features__tabs-body-video">
            <button class="btn features__tabs-body-video__play-btn">
              <img
                class="featuers__tabs-body-video__play-btn-img"
                src="../images/features__video-play-icon.svg"
                alt="play"
              />
              <span>Watch the video</span>
            </button>
          </div>
        </div>
        <div class="features__tabs-body-item">
          <picture class="features__tabs-body-picture">
            <source
              type="image/avif"
              srcset="
                ../images/features__img-01@1x.avif 1x,
                ../images/features__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/features__img-01@1x.webp 1x,
                ../images/features__img-01@2x.webp 2x
              "
            />
            <img
              class="features__tabs-body-img"
              src="../images/features__img-01@1x.jpg"
              srcset="../images/features__img-01@2x.jpg 2x"
              alt="features img"
            />
          </picture>
          
          <div class="features__tabs-body-desc">
            <h5 class="features__tabs-body-desc__title">Set up your play area</h5>
            <p class="features__tabs-body-desc__text">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>

          <div class="features__tabs-body-video">
            <button class="btn features__tabs-body-video__play-btn">
              <img
                class="featuers__tabs-body-video__play-btn-img"
                src="../images/features__video-play-icon.svg"
                alt="play"
              />
              <span>Watch the video</span>
            </button>
          </div>
        </div>
        <div class="features__tabs-body-item">
          <picture class="features__tabs-body-picture">
            <source
              type="image/avif"
              srcset="
                ../images/features__img-01@1x.avif 1x,
                ../images/features__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/features__img-01@1x.webp 1x,
                ../images/features__img-01@2x.webp 2x
              "
            />
            <img
              class="features__tabs-body-img"
              src="../images/features__img-01@1x.jpg"
              srcset="../images/features__img-01@2x.jpg 2x"
              alt="features img"
            />
          </picture>
          
          <div class="features__tabs-body-desc">
            <h5 class="features__tabs-body-desc__title">Gardian activity</h5>
            <p class="features__tabs-body-desc__text">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>

          <div class="features__tabs-body-video">
            <button class="btn features__tabs-body-video__play-btn">
              <img
                class="featuers__tabs-body-video__play-btn-img"
                src="../images/features__video-play-icon.svg"
                alt="play"
              />
              <span>Watch the video</span>
            </button>
          </div>
        </div>
        <div class="features__tabs-body-item">
          <picture class="features__tabs-body-picture">
            <source
              type="image/avif"
              srcset="
                ../images/features__img-01@1x.avif 1x,
                ../images/features__img-01@2x.avif 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ../images/features__img-01@1x.webp 1x,
                ../images/features__img-01@2x.webp 2x
              "
            />
            <img
              class="features__tabs-body-img"
              src="../images/features__img-01@1x.jpg"
              srcset="../images/features__img-01@2x.jpg 2x"
              alt="features img"
            />
          </picture>
          
          <div class="features__tabs-body-desc">
            <h5 class="features__tabs-body-desc__title">Headset casting</h5>
            <p class="features__tabs-body-desc__text">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>

          <div class="features__tabs-body-video">
            <button class="btn features__tabs-body-video__play-btn">
              <img
                class="featuers__tabs-body-video__play-btn-img"
                src="../images/features__video-play-icon.svg"
                alt="play"
              />
              <span>Watch the video</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
