<section class="games">
  <div class="container">
    <h3 class="section__title games__title">Games</h3>
    <div class="games__inner">
      <div class="games__desc">
        <h5 class="games__desc-title">It’s all fun and games</h5>

        <p class="games__desc-text">
          Discover new adventures, master epic challenges or revisit classic
          moments in your favourite games and experiences
        </p>

        <a class="btn btn__games" href="#!"> See all games </a>
      </div>
      <div class="games__item">
        <picture class="games__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/games__img-01@1x.avif 1x,
              ../images/games__img-01@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/games__img-01@1x.webp 1x,
              ../images/games__img-01@2x.webp 2x
            "
          />
          <img
            class="games__item-img"
            src="../images/games__img-01@1x.jpg"
            src="../images/games__img-01@2x.jpg 2x"
            alt="games img"
          />
        </picture>

        <h5 class="games__item-title">Blade & Sorcery: Nomad</h5>

        <p class="games__item-text">
          Step into a medieval fantasy sandbox that uses phisics to serve up
          some of the most realistic combat in VR
        </p>

        <a class="games__item-link" href="#!">see more</a>
      </div>
      <div class="games__item">
        <picture class="games__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/games__img-02@1x.avif 1x,
              ../images/games__img-02@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/games__img-02@1x.webp 1x,
              ../images/games__img-02@2x.webp 2x
            "
          />
          <img
            class="games__item-img"
            src="../images/games__img-02@1x.jpg"
            srcset="../images/games__img-02@2x.jpg 2x"
            alt="games img"
          />
        </picture>

        <h5 class="games__item-title">Population: One</h5>

        <p class="games__item-text">
          Climb anything. Fight everywhere. Experience battle royale only
          possible in VR
        </p>

        <a class="games__item-link" href="#!">see more</a>
      </div>
      <div class="games__item">
        <picture class="games__item-picture">
          <source
            type="image/avif"
            srcset="
              ../images/games__img-03@1x.avif 1x,
              ../images/games__img-03@2x.avif 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ../images/games__img-03@1x.webp 1x,
              ../images/games__img-03@2x.webp 2x
            "
          />
          <img
            class="games__item-img"
            src="../images/games__img-03@1x.jpg"
            srcset="../images/games__img-03@2x.jpg 2x"
            alt="games img"
          />
        </picture>

        <h5 class="games__item-title">Supernatural</h5>

        <p class="games__item-text">
          Box, Flow, Meditate and Stretch with real coaches in stunning
          destinations from around the world. Enjoy new workouts every day.
        </p>

        <a class="games__item-link" href="#!">see more</a>
      </div>
    </div>
  </div>
</section>
