<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="title hero__title">Meta Quest 2</h1>
      <h3 class="hero__subtitle">
        Get an Elite Strap free
      </h3>
      <p class="hero__subtext">
        For a limited time only, save $59.99 USD. Offer ends 1/19/23
      </p>
      <div class="hero__cta">
        <button class="btn btn__hero btn__hero-cta">
          Buy Now
        </button>
        <button class="btn btn__hero btn__hero-price">
          399,99 USD
        </button>
      </div>
      <p class="hero__subtext">
        Meta Quest 2 is for ages 13+
      </p>
    </div>
  </div>
</section>