// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-barlow: "Barlow Semi Condensed", sans-serif;
  // --font-barlow-medium: "Barlow Semi Condensed Medium", sans-serif;
  // --font-barlow-semibold: "Barlow Semi Condensed Semibold", sans-serif;
  // --font-barlow-bold: "Barlow Semi Condensed Bold", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
