* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-black;
  color: $color-white;
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}

ul {
  list-style: none;
}

.text-overlay {
  color: $color-white;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  opacity: .02;
  position: absolute;
  left: -50px;
}

.section__subtext {
  color: rgba($color-white, .5);
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: inline-block;
  position: relative;
  right: -7px;

  &--left {
    padding-left: 103px;

    &::before {
      content: '';
      background-color: rgba($color-white, .5);
      width: 80px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.section__title {
  font-weight: 800;
  font-size: 80px;
  text-transform: uppercase;
  position: absolute;
  left: 245px;
  &::before {
    content: '';
    background-color: $color-green;
    width: 80px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.section__subinfo {
  position: absolute;

  &--right{ 
    right: 80px;
    text-align: right;
  }
}

.section__subtitle {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;

  &--line {
    font-weight: 100;
  }
}

.slider-arrow {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 5;
}