.surf {
  position: relative;
  padding: 160px 0;
}

.map {
  background-image: url(../img/world-map-dots.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  min-height: 635px;
  margin: 206px auto 110px;
  position: relative;

  &__dots-slider {

    .slick-list {
      overflow: visible;
    }

    .slick-current {
      .map__dots-slider__item-location-number {
        opacity: .5;
      }

      .map__dots-slider__item-info {
        display: block;
      }
    }
    
    &__item {
      min-height: 635px;
    }

  }

  &__dots-slider__item-location-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: left;
    position: absolute;
    bottom: 100px;
    left: calc(100% + 50px);
    white-space: nowrap;
  }

  &__dots-slider__item-info {
    background-color: rgba(#0F1010, .7);
    padding: 28px 32px 2px;
    max-width: 285px;
    width: 100%;
    border-radius: 6px;
    position: absolute;
    display: none;

    &-beach {
      font-weight: 800;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      margin-bottom: 14px;
      position: relative;

      &::before {
        content: '';
        background-color: $color-green;
        width: 80px;
        height: 1px;
        position: absolute;
        bottom: -6px;
        left: 0;
      }

      &::after {
        content: '';
        background-image: url(../img/icon-arrow-map-info.svg);
        width: 16px;
        height: 14px;
        position: absolute;
        bottom: 3px;
        right: 0;
      }
    }


    &-location {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }

    &__row {
      margin-bottom: 30px;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 0 8px;

      &-icon {
        display: block;
        margin: 0 auto 8px;
      }

      &-data {
        font-weight: 800;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 2px;
      }

      &-desc {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
      }
    }
  }

  &__dots-slider__item-circle {
    background-color: $color-green;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.84);
    cursor: pointer;
    transition: all .3s;
    position: relative;

    &--1 {
      top: 330px;
      left: -13px;
    }
    &--2 {
      top: 300px;
      left: -13px;
    }
    &--3 {
      top: 320px;
      left: 25px;
    }
    &--4 {
      top: 505px;
      left: -40px;
    }
    &--5 {
      top: 225px;
      left: -75px;
    }
    &--6 {
      top: 558px;
      left: -113px;
    }
    &--7 {
      top: 400px;
      left: -100px;
    }
    &--8 {
      top: 515px;
      left: 45px;
    }
  }
}

.beaches-slider {
  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
    &-content {
      position: relative;
      padding: 72px 80px 0 40px;
      min-height: 750px;
      z-index: 2;
    }

    &-title {
      font-weight: 800;
      font-size: 40px;
      line-height: 36px;
      text-transform: uppercase;
      max-width: 160px;
    }

    &-location {
      transform: rotate(-90deg);
      transform-origin: left;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      text-transform: uppercase;
      position: absolute;
      left: 38px;
      bottom: 80px;
      white-space: nowrap;
    }

    &-link {
      font-weight: 800;
      font-size: 40px;
      line-height: 36px;
      text-transform: uppercase;
      max-width: 280px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 45px;
      right: 45px;
      opacity: 0;
      transition: all .3s;
      white-space: nowrap;

      &--highlight {
        background-color: $color-green;
        display: inline-block;
        padding: 17px 57px 17px 17px;
        margin-left: 19px;
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        &::before {
          background-color: $color-white;
          width: 20px;
          height: 1px;
          left: -11px;
        }

        &::after {
          background-image: url(../img/arrow-right.svg);
          background-repeat: no-repeat;
          width: 24px;
          height: 20px;
          right: 17px;
        }
      }
    }

  }
  
  &__arrow {
    position: absolute;
    top: -53px;
    opacity: .5;
    transition: all .3s;

    &--prev {
      right: 125px;
    }

    &--next {
      right: 80px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__item-overlay {
    background-color: rgba($color-black, .85);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .3s;
  }

  .slick-current &__item-overlay {
    background-color: rgba($color-black, .3);
  }

  .slick-current &__item-link {
    opacity: 1;
  }

  .slick-slide {
    &:nth-child(4n + 1) {
      margin-top: 32px;
    }

    &:nth-child(4n + 3) {
      margin-top: 89px;
    }

    &:hover {
      .beaches-slider__item-overlay {
        background-color: rgba($color-black, .3);
      }

      .beaches-slider__item-link {
        opacity: 1;
      }
    }
  }
}