.hero {
  overflow-x: clip;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 400px;
    position: relative;
  }

  &__content {
    flex-basis: 370px;
    padding-top: 165px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 48px;
  }

  .btn__hero-cta {
    padding: 20px 46px;
  }
  
  &__img {
    position: absolute;
    top: 30px;
    right: -200px;
    width: 1070px;
    max-width: 100%;
  }
}
