@media (max-width: 1200px) {
  .hero {
    &__inner {
      padding: 30px 0 360px;
    }

    &__content {
      padding-top: 125px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    width: 990px;
  }

  .hero {
    &__inner {
      padding: 30px 0 240px;
    }

    &__content {
      flex-basis: 333px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__img {
      right: -100px;
      width: 655px;
    }
  }
}

@media (max-width: 900px) {
  body {
    font-size: 12px;
  }

  .nav {
    &__menu {
      gap: 14px;
    }
  }

  .footer {
    &__inner {
      flex-wrap: wrap;
      gap: 15px;
    }

    &__contacts {
      width: 100%;
      align-items: center;
    }
  }

  .hero {
    &__img {
      top: 100px;
      right: -200px;
    }

    &__inner {
      padding: 30px 0 300px;
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    width: 640px;
  }

  .hero {
    &__inner {
      padding: 30px 0 275px;
    }

    &__content {
      flex-basis: 230px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 680px) {
  .header {
    &__logo {
      order: 1;
    }

    &__phone {
      order: 2;
    }

    .nav {
      order: 3;

      &__menu {
        background-color: $color-brown-dark;
        color: $color-white;
        flex-direction: column;
        gap: 20px;
        padding: 25px 32px 45px 46px;
        position: fixed;
        top: 80px;
        right: 20px;
        transform: translateX(calc(100% + 30px));
        transition: all 0.3s;
        z-index: 10;

        &-link {
          &:hover {
            color: $color-white;
            border-bottom: 1px solid $color-white;
          }
        }

        &-hamburger {
          display: flex;
        }

        &.active {
          display: flex;
          left: unset;
          transform: translateX(0);
        }
      }
    }
  }

  .footer {
    padding: 50px 0;

    &__inner {
      flex-direction: column;
      gap: 50px;
    }

    .nav {
      &__menu {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .hero {
    &__inner {
      padding: 30px 0 200px;
    }
  }
}

@media (max-width: 510px) {
  .container {
    width: 490px;
  }

  .hero {
    &__inner {
      padding: 30px 0 130px;
    }

    &__content {
      padding-top: 80px;
      flex-basis: 180px;
    }

    &__title {
      font-size: 15px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 8px;
      margin-bottom: 15px;
    }

    &__img {
      width: 310px;
      top: 40px;
      right: -50px;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    &__img {
      right: -100px;
    }
  }
}

@media (max-width: 390px) {
  .container {
    width: 360px;
  }

  .hero {
    &__inner {
      padding: 30px 0 50px;
    }

    &__content {
      padding-top: 30px;
      flex-basis: 200px;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 10px;
    }

    &__img {
      width: 140px;
      top: 40px;
      right: -10%;
    }
  }
}


@media (max-width: 320px) {
  .hero {
    &__img {
      right: -30%;
    }
  }
}