* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'balqis';
    src: url(../fonts/balqis.woff2) format('woff2'),
        url(../fonts/balqis.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url(../fonts/RobotoCondensed-Light.woff2) format('woff2'),
        url(../fonts/RobotoCondensed-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url(../fonts/RobotoCondensed-LightItalic.woff2) format('woff2'),
        url(../fonts/RobotoCondensed-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url(../fonts/RobotoCondensed-Regular.woff2) format('woff2'),
        url(../fonts/RobotoCondensed-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    color: #000;
    font-family: 'RobotoCondensed-Light', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__mini {
    max-width: 615px;
    width: 100%;
    height: 100%;
}

.text__left {
    padding: 0 55px 0 15px;
}

.text__right {
    padding: 0 15px 0 55px;
}

.section__margin {
    margin: 200px 0;
}

.section__title {
    color: #E2AB3F;
    font-family: 'balqis';
    font-weight: 300;
    font-size: 96px;
    line-height: 128px;
    margin-bottom: 100px;
}

.section__subtitle {
    color: #000;
    display: block;
    font-family: 'RobotoCondensed-LightItalic';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.secondary__title {
    font-family: 'RobotoCondensed-Regular', sans-serif;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 0 52px;
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    line-height: 28px;
}

.header__menu-item {
    display: inline-block;
}

.header__menu-item+.header__menu-item {
    margin-left: 52px;
}

.header__menu-link {
    border-bottom: 2px solid transparent;
}

.header__menu-link--active,
.header__menu-link:hover {
    border-bottom: 2px solid #000;
}

.header__phone-link {
    padding-left: 40px;
    position: relative;
}

.header__phone-link::before {
    content: '';
    background-image: url(../images/icon__phone.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    top: -1px;
    left: 0;
}

.header__phone-link:hover {
    padding-left: 45px;
}

.header__title {
    font-family: 'balqis';
    font-weight: 300;
    font-size: 250px;
    line-height: 334px;
    margin-top: 100px;
    text-align: center;
}

.header__subtitle {
    display: block;
    text-align: right;
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 56px;
    line-height: 66px;
    margin-top: -80px;
    padding-right: 90px;
}

.section__slider {
    width: 50%;
}

.slider__item {
    background-size: cover;
    background-position: center;
}

.slick-arrow {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    outline: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
}

.slick-arrow--prev {
    left: 0;
}

.slick-arrow--next {
    right: 0;
}

.slick-arrow__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fairy-tale__subtitle {
    margin-top: -24px;
    margin-left: 181px;
}

.fairy-tale__inner {
    display: flex;
}

.fairy-tale__slider-item {
    min-height: 700px;
}

.fairy-tale__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


.our-trip__inner {
    display: flex;
}

.our-trip__content {
    margin-left: auto;
    max-width: 615px;
    width: 100%;
}

.our-trip__subtitle {
    margin-left: 242px;
    margin-top: -25px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__body-item {
    margin-bottom: 50px;
}

.our-trip__body-title {
    margin-bottom: 20px;
}

.our-trip__slider-item {
    min-height: 1095px;
}

.our-trip__btn {
    background-color: transparent;
    display: inline-block;
    font-family: 'RobotoCondensed-Light';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    width: 280px;
    padding: 11px 54px;
    border: 1px solid #E2AB3F;
    outline: none;
    transition: all .3s;
    cursor: pointer;
}

.our-trip__btn:hover {
    background-color: #E2AB3F;
    color: #FFF;
}