*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #2C2B2B;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

header {
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 80vh;
    margin-bottom: 300px;
}

.header__top {
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
}

.header__top_phone {
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
}

.header__content {
    padding: 105px 0 120px;
    position: relative;
}

.header__title {
    max-width: 800px;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
}

.header__subtitle {
    max-width: 800px;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.header__desc {
    max-width: 800px;
    margin-bottom: 30px;
}

.btn {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 55px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transform: scale(1);
    backface-visibility: hidden;
    transition: all .3s;
}

.btn__purple {
    background-color: #5A0D67;
    color: #fff;
}

.btn__purple:hover {
    background-color: #fff;
    color: #5A0D67;
}

.btn:active {
    transform: scale(.96);
    backface-visibility: hidden;
}

.header__social_list {
    list-style: none;
    display: flex;
    margin: 70px 0 0 66px;
}

.header__social_list_item+.header__social_list_item {
    margin-left: 20px;
}

.header__social_list_link {
    transform: scale(1);
    transition: all .3s;
}

.header__social_list_link:hover {
    transform: scale(1.2);
}

.header__social_list_link:active {
    transform: scale(1.1);
}

.header__main_img {
    position: absolute;
    bottom: -200px;
    right: 0px;
}

.services {
    margin-bottom: 100px;
}

.section__title {
    color: #21062A;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
}

.section__title::after {
    content: '';
    background-color: #21062A;
    display: block;
    width: 80px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -85px;
}

.services__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services__content, .services__list {
    flex: 1;
    padding-right: 100px;
}

.services__content_box:first-child {
    margin-bottom: 70px;
}

.btn__services {
    margin-top: 50px;
    border: 1px solid transparent;
    position: relative;
}

.btn__services:hover {
    border: 1px solid #5A0D67;
}

.btn__services::before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #C4C4C4;
    position: absolute;
    top: calc(50% - 1px);
    right: -75px;
}

.btn__services::after {
    content: 'ЖМИ';
    display: inline-block;
    color: #C4C4C4;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    position: absolute;
    right: -110px;
}

.services__content_title {
    color: #5A0D67;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
}

.services__content_text {
    margin-bottom: 12px;
}

.services__list {
    list-style: none;
    counter-reset: my-counter;
}

.services__list_item {
    counter-increment: my-counter;
    width: 450px;
    padding: 10px 10px 10px 110px;
    border: 2px solid #c4c4c4;
    transition: all .2s;
    position: relative;
}

.services__list_item::before {
    content: '0' counter(my-counter);
    display: inline-block;
    color: #c4c4c4;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    position: absolute;
    top: 15px;
    left: 30px;
    transform: rotate(-90deg);
    transition: color .2s;
}

.services__list_item:hover {
    border: 2px solid #5A0D67;
    width: 500px;
}

.services__list_item:hover .services__list_item_title,
.services__list_item:hover::before {
    color: #5A0D67;
}

.services__list_item:not(:last-child) {
    margin-bottom: 12px;
}

.services__list_item_title {
    color: #2C2B2B;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    transition: color .2s;
    margin-bottom: -5px;
}

.why_us {
    margin-bottom: 100px;
}

.why_us__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.why_us__content {
    flex: 1;
    margin-left: 95px;
}

.why_us__title {
    margin-left: 185px;
    margin-bottom: 45px;
}

.why_us__content_box {
    background-color: #21062A;
    color: #fff;
    padding: 20px 285px 25px 185px;
}

.why_us__content_box_item {
    margin-bottom: 20px;
}

.why_us__content_title {
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.why_us__content_subtitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.why_us__content_text {
    color: #c4c4c4;
}


.gallery {
    margin-bottom: 100px;
}

.gallery__row {
    position: relative;
}

.gallery__item {
    background-color: #fff;
    color: inherit;
    padding: 5px;
    border: 1px solid #c4c4c4;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    width: 30%;
}

.gallery__item:hover {
    background-color: #5A0D67;
    color: #fff;
}

.gallery__item_img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.gallery__item_title {
    font-weight: 300;
    text-transform: uppercase;
    margin: 23px 0 5px;
}

.gallery__item_subtitle {
    margin-bottom: 6px;
}

.slick-dots {
   list-style: none;
   display: flex;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -53px;
}

.slick-list .slick-track .gallery__item {
    width: calc(1200/3 - 10px)!important;
    margin-right: 10px!important;
}

.slick-dots li:not(:last-child) {
    margin-right: 20px;
}

.slick-dots button {
    background-color: #c4c4c4;
    height: 1px;
    width: 50px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.slick-dots .slick-active button {
    background-color: #21062A;
    height: 3px;
}

.contacts__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts__info,
.contacts__form {        
    flex: 1;
}

.contacts__info {
    padding-top: 50px;
}

.contacts__info_box:not(:last-child) {
    margin-bottom: 20px;
}

.contacts__info_title {
    color: #5A0D67;
    font-weight: 300;
}

.contacts__form {
    background-color: #21062A;
    padding: 50px 75px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__form_title {
    color: #fff;
    margin-bottom: 16px;
}

.contacts__form_title::after {
    background-color: #fff;
}

.contacts__form_input {
    background-color: transparent;
    color: #c4c4c4;
    width: 100%;
    height: 75px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #fff;
    outline: 0;
    padding: 10px 20px;
    text-align: center;
}

.contacts__form_input:not(:last-child) {
    margin-bottom: 12px;
}

.contacts__form_input::placeholder {
    color: #c4c4c4;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.btn__contacts {
    font-weight: 300;
    border: 0;
    outline: 0;
    margin-top: 66px;
    padding: 14px 73px;
}