:root {
  --color-black: #1F1E1E;
  --color-white: #FFFFFF;
  --color-gray: #C4C4C4;
  --color-gray-borders: #D9D9DE;
  --color-highlight-brown: #886239;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
}

.section__title-center {
  text-align: center;
}

.btn {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  transition: all .3s;
  border: 0;
  cursor: pointer;
}

.btn__brown {
  background-color: var(--color-highlight-brown);
  color: var(--color-white);
  backface-visibility: hidden;
}

.btn__brown:hover {
  /* background-color: #684724; */
  backface-visibility: hidden;
  transform: translateY(-2px);
}


.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top {
  padding: 16px 0 15px;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.btn__header-phone {
  padding: 12px 31px;
  border-radius: 22px;
  margin-left: 19px;
}

.header__phone-text {
  font-weight: 700;
}

.menu {
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  padding: 27px 0 24px;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__list-item+.menu__list-item {
  margin-left: 120px;
}

.menu__list-link {
  color: var(--color-white);
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  backface-visibility: hidden;
}

.menu__list-link:hover {
  backface-visibility: hidden;
  transform: translateY(-2px);
}

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 90px;
  line-height: 117px;
  text-align: center;
  margin-top: 49px;
}

.header__bottom {
  margin-top: auto;
  margin-bottom: 74px;
}

.header__bottom-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.btn__header-cta {
  font-size: 18px;
  line-height: 21px;
  padding: 20px 55px;
  border-radius: 30px;
}

.arrow__down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}


.destinations {
  padding: 100px 0;
}

.destinations__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 32px;
}

.destinations__item {
  border: 1px solid var(--color-gray-borders);
}

.destinations__item-image-wrapper {
  overflow: hidden;
}

.destinations__item-img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  display: block;
  transition: all .3s;
}

.destinations__item-name {
  font-size: 16px;
  line-height: 19px;
  padding: 12px 19px 19px;
}

.destinations__item:hover .destinations__item-img {
  transform: scale(1.1);
}


.directions {
  background-image: url(../images/directions-bg.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  font-size: 16px;
  line-height: 21px;
  padding: 31px 0 52px;
}

.directions__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  gap: 63px 56px;
}

.directions__title {
  margin-bottom: 52px;
}

.directions__item-icon-wrapper {
  width: 85px;
  height: 85px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions__item-icon {
  display: inline-block;
  transition: all .3s;
}

.directions__item:hover .directions__item-icon {
  transform: scale(1.2);
}


.popular__inner {
  padding: 100px 0;
  border-bottom: 1px solid var(--color-gray-borders);
}

.popular__title {
  margin-bottom: 40px;
}

.popular__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 32px;
}

.popular__item-link {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--color-white);
  min-height: 256px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.popular__item-link__inner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all .3s;
}

.popular__item-link__inner::before {
  content: '';
  background-color: rgba(31, 30, 30, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
}

.popular__item-link:hover .popular__item-link__inner {
  transform: scale(1.15);
}

.popular__item-link:hover .popular__item-link__inner::before {
  background-color: rgba(31, 30, 30, .4);
}

.popular__item-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.popular__item-link--big {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: auto;
}

.popular__item-duration {
  margin-top: 15px;
}


.map {
  padding: 100px 0;
}

.map__title {
  margin-bottom: 46px;
}

.map__iframe {
  height: 610px;
}


.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(448px, 1fr));
  gap: 32px;
}

.about__title {
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 34px;
}

.about__link--read-more {
  color: var(--color-gray);
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid var(--color-gray);
}

.about__link--read-more:hover {
  border-bottom: 1px solid transparent;
}

.about__video {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.about__video-bg {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all .3s;
}

.about__video-bg::before {
  content: '';
  background-color: rgba(31, 30, 30, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all .3s;
}

.about__video:hover .about__video-bg {
  transform: scale(1.2);
}

.about__video:hover .about__video-bg::before {
  background-color: rgba(31, 30, 30, .4);
}


.gallery {
  background-color: var(--color-highlight-brown);
  color: var(--color-white);
  padding: 49px 0 106px;
}

.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.gallery__top-link {
  font-size: 16px;
  line-height: 19px;
  margin-right: 163px;
  border-bottom: 1px solid var(--color-white);
}

.gallery__top-link:hover {
  border-bottom: 1px solid transparent;
}

.gallery__item-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 32px;
}

.gallery__item-link {
  min-height: 256px;
}

.gallery__item-img {
  width: 100%;
}

.gallery__slider .slick-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute;
  z-index: 5;
  top: -80px;
}

.gallery__slider .slick-prev {
  right: 60px;
}

.gallery__slider .slick-next {
  right: 0px;
}