:root {
  --color-white: #FFFFFF;
  --color-black: #070A1B;
  --color-pink: #F402A2;
  --color-pink-light: #C1A1D2;
  --color-blue-light: #53A1CB;
}

@font-face {
  font-family: 'Corporate-A-Bold';
  src: url(../fonts/SF-Pro-Display-Bold.woff2) format('woff2'),
       url(../fonts/SF-Pro-Display-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
  background-repeat: no-repeat; */
  color: var(--color-white);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}


.header {
  background-color: var(--color-black);
}

.header__inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
}

.hamburger__line {
  background-color: var(--color-white);
  width: 30px;
  height: 1px;
}

.hamburger__line + .hamburger__line {
  margin-top: 8px;
}

.header__social-list {
  display: flex;
}

.header__social-item + .header__social-item {
  margin-left: 30px;
}

.header__social-link {
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header__social-link:hover {
  background-color: var(--color-pink-light);
}


.hero {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: top center;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 49px;
  position: relative;
}

.hero::after {
  content: '';
  background-image: url(../images/mercedez-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__title {
  font-family: 'Corporate-A-Bold';
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
