* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-dark;
  color: $color-white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

.container {
  max-width: 96%;
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.section {
  margin-bottom: 180px;

  &__title {
    color: $color-accent;
    font-family: "Playfair Display", serif;
    font-size: 36px;
  }

  &__decor {
    color: rgba($color-white, 0.02);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 400px;
    position: absolute;
  }
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 12px 54px;

  &__orange {
    background-color: $color-accent;
    color: $color-white;
  }
}
